In [1]:
import pandas as pd

In [4]:
imdb_movie_data = pd.read_csv('Resources/imdb_movie_data_2023.csv')
imdb_movie_data.head(10)

,Unnamed: 0,Moive Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes
5,5,The Hunger Games: The Ballad of Songbirds & S...,7.1,56000.0,54.0,"Action, Adventure, Drama",PG-13,2023,2h 37m,"Rachel Zegler, Tom Blyth, Viola Davis, Dexter ...",Francis Lawrence
6,6,Napoleon,6.6,66000.0,64.0,"Action, Adventure, Biography",R,2023,2h 38m,"Joaquin Phoenix, Vanessa Kirby, Tahar Rahim, R...",Ridley Scott
7,7,Oppenheimer,8.4,553000.0,89.0,"Biography, Drama, History",R,2023,3h,"Cillian Murphy, Emily Blunt, Matt Damon, Rober...",Christopher Nolan
8,8,Love Actually,7.6,517000.0,55.0,"Comedy, Drama, Romance",R,2003,2h 15m,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",Richard Curtis
9,9,Candy Cane Lane,5.6,13000.0,47.0,"Comedy, Family, Fantasy",PG,2023,1h 57m,"Eddie Murphy, Tracee Ellis Ross, Jillian Bell,...",Reginald Hudlin

In [7]:
imdb_movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950 entries, 0 to 1949
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1950 non-null   int64
 1   Moive Name  1950 non-null   object
 2   Rating      1944 non-null   float64
 3   Votes       1944 non-null   float64
 4   Meta Score  1833 non-null   float64
 5   Genre       1833 non-null   object
 6   PG Rating   1874 non-null   object
 7   Year        1950 non-null   int64
 8   Duration    1948 non-null   object
 9   Cast        1833 non-null   object
 10  Director    1833 non-null   object
dtypes: float64(3), int64(2), object(6)
memory usage: 167.7+ KB

In [8]:
# Remove "Unnamed: 0" column
imdb_movie_data = imdb_movie_data.drop(columns=['Unnamed: 0'])

In [15]:
imdb_movie_data = imdb_movie_data.dropna()
imdb_movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1784 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie Name  1784 non-null   object
 1   Rating      1784 non-null   float64
 2   Votes       1784 non-null   float64
 3   Meta Score  1784 non-null   float64
 4   Genre       1784 non-null   object
 5   PG Rating   1784 non-null   object
 6   Year        1784 non-null   int64
 7   Duration    1784 non-null   object
 8   Cast        1784 non-null   object
 9   Director    1784 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 153.3+ KB

In [16]:
# Rename column to Movie Name
imdb_movie_data.rename(columns={'Moive Name': 'Movie Name'}, inplace=True)
imdb_movie_data.head(10)

,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes
5,The Hunger Games: The Ballad of Songbirds & S...,7.1,56000.0,54.0,"Action, Adventure, Drama",PG-13,2023,2h 37m,"Rachel Zegler, Tom Blyth, Viola Davis, Dexter ...",Francis Lawrence
6,Napoleon,6.6,66000.0,64.0,"Action, Adventure, Biography",R,2023,2h 38m,"Joaquin Phoenix, Vanessa Kirby, Tahar Rahim, R...",Ridley Scott
7,Oppenheimer,8.4,553000.0,89.0,"Biography, Drama, History",R,2023,3h,"Cillian Murphy, Emily Blunt, Matt Damon, Rober...",Christopher Nolan
8,Love Actually,7.6,517000.0,55.0,"Comedy, Drama, Romance",R,2003,2h 15m,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",Richard Curtis
9,Candy Cane Lane,5.6,13000.0,47.0,"Comedy, Family, Fantasy",PG,2023,1h 57m,"Eddie Murphy, Tracee Ellis Ross, Jillian Bell,...",Reginald Hudlin

In [47]:
goldenglobe_data = pd.read_csv('Resources/goldenglobes.csv')
goldenglobe_data.head(25)

,title,year,status,award
0,Succession,2024,Winner,Best Television Series - Drama
1,Mission: Impossible - Dead Reckoning Part 1,2024,Nominee,Cinematic and Box Office Achievement
2,"Last of Us, The",2024,Nominee,Best Television Series - Drama
3,Taylor Swift: The Eras Tour,2024,Nominee,Cinematic and Box Office Achievement
4,John Wick: Chapter 4,2024,Nominee,Cinematic and Box Office Achievement
5,The Super Mario Bros. Movie,2024,Nominee,Cinematic and Box Office Achievement
6,Guardians of the Galaxy Vol. 3,2024,Nominee,Cinematic and Box Office Achievement
7,Spider-Man: Across the Spider-Verse,2024,Nominee,Cinematic and Box Office Achievement
8,Oppenheimer,2024,Nominee,Cinematic and Box Office Achievement
9,Barbie,2024,Winner,Cinematic and Box Office Achievement
10,Succession,2024,Winner,Best Television Series - Drama
11,Mission: Impossible - Dead Reckoning Part 1,2024,Nominee,Cinematic and Box Office Achievement
12,"Last of Us, The",2024,Nominee,Best Television Series - Drama
13,Taylor Swift: The Eras Tour,2024,Nominee,Cinematic and Box Office Achievement
14,John Wick: Chapter 4,2024,Nominee,Cinematic and Box Office Achievement
15,The Super Mario Bros. Movie,2024,Nominee,Cinematic and Box Office Achievement
16,Guardians of the Galaxy Vol. 3,2024,Nominee,Cinematic and Box Office Achievement
17,Spider-Man: Across the Spider-Verse,2024,Nominee,Cinematic and Box Office Achievement
18,Oppenheimer,2024,Nominee,Cinematic and Box Office Achievement
19,Barbie,2024,Winner,Cinematic and Box Office Achievement
20,"Crown, The",2024,Nominee,Best Television Series - Drama
21,Christopher Nolan,2024,Nominee,Best Screenplay - Motion Picture
22,Celine Song,2024,Nominee,Best Screenplay - Motion Picture
23,"Justine Triet, Arthur Harari",2024,Winner,Best Screenplay - Motion Picture
24,"Morning Show, The",2024,Nominee,Best Television Series - Drama

In [48]:
goldenglobe_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8690 entries, 0 to 8689
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   8660 non-null   object
 1   year    8690 non-null   int64
 2   status  8690 non-null   object
 3   award   8690 non-null   object
dtypes: int64(1), object(3)
memory usage: 271.7+ KB

In [49]:
goldenglobe_data = goldenglobe_data.dropna()
goldenglobe_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8660 entries, 0 to 8689
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   8660 non-null   object
 1   year    8660 non-null   int64
 2   status  8660 non-null   object
 3   award   8660 non-null   object
dtypes: int64(1), object(3)
memory usage: 338.3+ KB

In [50]:
# Rename column Movie Name
goldenglobe_data.rename(columns={'title': 'movie name'}, inplace=True)
goldenglobe_data.head(10)

,movie name,year,status,award
0,Succession,2024,Winner,Best Television Series - Drama
1,Mission: Impossible - Dead Reckoning Part 1,2024,Nominee,Cinematic and Box Office Achievement
2,"Last of Us, The",2024,Nominee,Best Television Series - Drama
3,Taylor Swift: The Eras Tour,2024,Nominee,Cinematic and Box Office Achievement
4,John Wick: Chapter 4,2024,Nominee,Cinematic and Box Office Achievement
5,The Super Mario Bros. Movie,2024,Nominee,Cinematic and Box Office Achievement
6,Guardians of the Galaxy Vol. 3,2024,Nominee,Cinematic and Box Office Achievement
7,Spider-Man: Across the Spider-Verse,2024,Nominee,Cinematic and Box Office Achievement
8,Oppenheimer,2024,Nominee,Cinematic and Box Office Achievement
9,Barbie,2024,Winner,Cinematic and Box Office Achievement

In [51]:
award= goldenglobe_data['award'].unique()
print(len(award))

89

In [53]:
oscar_data = pd.read_csv('Resources/the_oscar_award.csv')
oscar_data.head(25)

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
5,1927,1928,1,ART DIRECTION,Rochus Gliese,Sunrise,False
6,1927,1928,1,ART DIRECTION,William Cameron Menzies,The Dove;,True
7,1927,1928,1,ART DIRECTION,Harry Oliver,7th Heaven,False
8,1927,1928,1,CINEMATOGRAPHY,George Barnes,The Devil Dancer;,False
9,1927,1928,1,CINEMATOGRAPHY,Charles Rosher,Sunrise,True
10,1927,1928,1,CINEMATOGRAPHY,Karl Struss,Sunrise,True
11,1927,1928,1,DIRECTING (Comedy Picture),Lewis Milestone,Two Arabian Knights,True
12,1927,1928,1,DIRECTING (Comedy Picture),Ted Wilde,Speedy,False
13,1927,1928,1,DIRECTING (Dramatic Picture),Frank Borzage,7th Heaven,True
14,1927,1928,1,DIRECTING (Dramatic Picture),Herbert Brenon,Sorrell and Son,False
15,1927,1928,1,DIRECTING (Dramatic Picture),King Vidor,The Crowd,False
16,1927,1928,1,ENGINEERING EFFECTS,Ralph Hammeras,NaN,False
17,1927,1928,1,ENGINEERING EFFECTS,Roy Pomeroy,Wings,True
18,1927,1928,1,ENGINEERING EFFECTS,Nugent Slaughter,NaN,False
19,1927,1928,1,OUTSTANDING PICTURE,The Caddo Company,The Racket,False
20,1927,1928,1,OUTSTANDING PICTURE,Fox,7th Heaven,False
21,1927,1928,1,OUTSTANDING PICTURE,Paramount Famous Lasky,Wings,True
22,1927,1928,1,UNIQUE AND ARTISTIC PICTURE,Fox,Sunrise,True
23,1927,1928,1,UNIQUE AND ARTISTIC PICTURE,Metro-Goldwyn-Mayer,The Crowd,False
24,1927,1928,1,UNIQUE AND ARTISTIC PICTURE,Paramount Famous Lasky,Chang,False

In [54]:
oscar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10889 entries, 0 to 10888
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10889 non-null  int64
 1   year_ceremony  10889 non-null  int64
 2   ceremony       10889 non-null  int64
 3   category       10889 non-null  object
 4   name           10884 non-null  object
 5   film           10570 non-null  object
 6   winner         10889 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 521.2+ KB

In [55]:
oscar_data = oscar_data.dropna()
oscar_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10570 entries, 0 to 10884
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10570 non-null  int64
 1   year_ceremony  10570 non-null  int64
 2   ceremony       10570 non-null  int64
 3   category       10570 non-null  object
 4   name           10570 non-null  object
 5   film           10570 non-null  object
 6   winner         10570 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 588.4+ KB

In [56]:
# Rename column Movie Name
oscar_data.rename(columns={'film': 'movie name', 'category': 'award'}, inplace=True)
oscar_data.head(10)

,year_film,year_ceremony,ceremony,award,name,movie name,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
5,1927,1928,1,ART DIRECTION,Rochus Gliese,Sunrise,False
6,1927,1928,1,ART DIRECTION,William Cameron Menzies,The Dove;,True
7,1927,1928,1,ART DIRECTION,Harry Oliver,7th Heaven,False
8,1927,1928,1,CINEMATOGRAPHY,George Barnes,The Devil Dancer;,False
9,1927,1928,1,CINEMATOGRAPHY,Charles Rosher,Sunrise,True

In [57]:
# Get the number of distinct values in the category lists.
oscar_award= oscar_data['award'].unique()
print(len(oscar_award))

107