In [291]:
import pandas as pd
import numpy as np

### IMDB Movie DataFrame
----
**Clean and Manipulate a IMDB Data:**
- drop unwanted columns
- check for null values
- remane columns
- assign unique ID to each movie
- create new Data frame for list of movies with their unique ID's.
 
Then export the DataFrame as a `moviesID.csv` CSV file.

In [292]:
# Pull in IMDB Movie Data into a dataframe
imdb_movie_data = pd.read_csv('Resources/imdb_movie_data_2023.csv', encoding='utf-8')
imdb_movie_data.head(10)

,Unnamed: 0,Moive Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes
5,5,The Hunger Games: The Ballad of Songbirds & S...,7.1,56000.0,54.0,"Action, Adventure, Drama",PG-13,2023,2h 37m,"Rachel Zegler, Tom Blyth, Viola Davis, Dexter ...",Francis Lawrence
6,6,Napoleon,6.6,66000.0,64.0,"Action, Adventure, Biography",R,2023,2h 38m,"Joaquin Phoenix, Vanessa Kirby, Tahar Rahim, R...",Ridley Scott
7,7,Oppenheimer,8.4,553000.0,89.0,"Biography, Drama, History",R,2023,3h,"Cillian Murphy, Emily Blunt, Matt Damon, Rober...",Christopher Nolan
8,8,Love Actually,7.6,517000.0,55.0,"Comedy, Drama, Romance",R,2003,2h 15m,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",Richard Curtis
9,9,Candy Cane Lane,5.6,13000.0,47.0,"Comedy, Family, Fantasy",PG,2023,1h 57m,"Eddie Murphy, Tracee Ellis Ross, Jillian Bell,...",Reginald Hudlin

In [293]:
imdb_movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1950 entries, 0 to 1949
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1950 non-null   int64
 1   Moive Name  1950 non-null   object
 2   Rating      1944 non-null   float64
 3   Votes       1944 non-null   float64
 4   Meta Score  1833 non-null   float64
 5   Genre       1833 non-null   object
 6   PG Rating   1874 non-null   object
 7   Year        1950 non-null   int64
 8   Duration    1948 non-null   object
 9   Cast        1833 non-null   object
 10  Director    1833 non-null   object
dtypes: float64(3), int64(2), object(6)
memory usage: 167.7+ KB

In [294]:
# Remove "Unnamed: 0" column
imdb_movie_data = imdb_movie_data.drop(columns=['Unnamed: 0'])

In [295]:
# Check for null values
# Remove rows with null values
imdb_movie_data = imdb_movie_data.dropna()
imdb_movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1784 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Moive Name  1784 non-null   object
 1   Rating      1784 non-null   float64
 2   Votes       1784 non-null   float64
 3   Meta Score  1784 non-null   float64
 4   Genre       1784 non-null   object
 5   PG Rating   1784 non-null   object
 6   Year        1784 non-null   int64
 7   Duration    1784 non-null   object
 8   Cast        1784 non-null   object
 9   Director    1784 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 153.3+ KB

In [296]:
# Rename column to Movie Name
imdb_movie_data.rename(columns={'Moive Name': 'Movie Name', }, inplace=True)
imdb_movie_data.head(10)

,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes
5,The Hunger Games: The Ballad of Songbirds & S...,7.1,56000.0,54.0,"Action, Adventure, Drama",PG-13,2023,2h 37m,"Rachel Zegler, Tom Blyth, Viola Davis, Dexter ...",Francis Lawrence
6,Napoleon,6.6,66000.0,64.0,"Action, Adventure, Biography",R,2023,2h 38m,"Joaquin Phoenix, Vanessa Kirby, Tahar Rahim, R...",Ridley Scott
7,Oppenheimer,8.4,553000.0,89.0,"Biography, Drama, History",R,2023,3h,"Cillian Murphy, Emily Blunt, Matt Damon, Rober...",Christopher Nolan
8,Love Actually,7.6,517000.0,55.0,"Comedy, Drama, Romance",R,2003,2h 15m,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",Richard Curtis
9,Candy Cane Lane,5.6,13000.0,47.0,"Comedy, Family, Fantasy",PG,2023,1h 57m,"Eddie Murphy, Tracee Ellis Ross, Jillian Bell,...",Reginald Hudlin

In [391]:
movies = imdb_movie_data['Movie Name'].unique()
print(movies)
print(len(movies))

[' Leave the World Behind' ' Wonka' ' Poor Things' ... ' The Fly'
 ' The Mighty Ducks' ' American Made']
1753

In [392]:
# Create numpy arrays from 1-1753 for the movies
movie_ids = np.arange(1, len(movies) + 1)
print(movie_ids)

[   1    2    3 ... 1751 1752 1753]

In [393]:
# Use a list comprehension to add unique "id" to each movie.
m_ids = ['id' + str(m_id) for m_id in range(1, len(movie_ids) + 1)]
print(m_ids)

['id1', 'id2', 'id3', 'id4', 'id5', 'id6', 'id7', 'id8', 'id9', 'id10', 'id11', 'id12', 'id13', 'id14', 'id15', 'id16', 'id17', 'id18', 'id19', 'id20', 'id21', 'id22', 'id23', 'id24', 'id25', 'id26', 'id27', 'id28', 'id29', 'id30', 'id31', 'id32', 'id33', 'id34', 'id35', 'id36', 'id37', 'id38', 'id39', 'id40', 'id41', 'id42', 'id43', 'id44', 'id45', 'id46', 'id47', 'id48', 'id49', 'id50', 'id51', 'id52', 'id53', 'id54', 'id55', 'id56', 'id57', 'id58', 'id59', 'id60', 'id61', 'id62', 'id63', 'id64', 'id65', 'id66', 'id67', 'id68', 'id69', 'id70', 'id71', 'id72', 'id73', 'id74', 'id75', 'id76', 'id77', 'id78', 'id79', 'id80', 'id81', 'id82', 'id83', 'id84', 'id85', 'id86', 'id87', 'id88', 'id89', 'id90', 'id91', 'id92', 'id93', 'id94', 'id95', 'id96', 'id97', 'id98', 'id99', 'id100', 'id101', 'id102', 'id103', 'id104', 'id105', 'id106', 'id107', 'id108', 'id109', 'id110', 'id111', 'id112', 'id113', 'id114', 'id115', 'id116', 'id117', 'id118', 'id119', 'id120', 'id121', 'id122', 'id123', 'id124', 'id125', 'id126', 'id127', 'id128', 'id129', 'id130', 'id131', 'id132', 'id133', 'id134', 'id135', 'id136', 'id137', 'id138', 'id139', 'id140', 'id141', 'id142', 'id143', 'id144', 'id145', 'id146', 'id147', 'id148', 'id149', 'id150', 'id151', 'id152', 'id153', 'id154', 'id155', 'id156', 'id157', 'id158', 'id159', 'id160', 'id161', 'id162', 'id163', 'id164', 'id165', 'id166', 'id167', 'id168', 'id169', 'id170', 'id171', 'id172', 'id173', 'id174', 'id175', 'id176', 'id177', 'id178', 'id179', 'id180', 'id181', 'id182', 'id183', 'id184', 'id185', 'id186', 'id187', 'id188', 'id189', 'id190', 'id191', 'id192', 'id193', 'id194', 'id195', 'id196', 'id197', 'id198', 'id199', 'id200', 'id201', 'id202', 'id203', 'id204', 'id205', 'id206', 'id207', 'id208', 'id209', 'id210', 'id211', 'id212', 'id213', 'id214', 'id215', 'id216', 'id217', 'id218', 'id219', 'id220', 'id221', 'id222', 'id223', 'id224', 'id225', 'id226', 'id227', 'id228', 'id229', 'id230', 'id231', 'id232', 'id233', 'id234', 'id235', 'id236', 'id237', 'id238', 'id239', 'id240', 'id241', 'id242', 'id243', 'id244', 'id245', 'id246', 'id247', 'id248', 'id249', 'id250', 'id251', 'id252', 'id253', 'id254', 'id255', 'id256', 'id257', 'id258', 'id259', 'id260', 'id261', 'id262', 'id263', 'id264', 'id265', 'id266', 'id267', 'id268', 'id269', 'id270', 'id271', 'id272', 'id273', 'id274', 'id275', 'id276', 'id277', 'id278', 'id279', 'id280', 'id281', 'id282', 'id283', 'id284', 'id285', 'id286', 'id287', 'id288', 'id289', 'id290', 'id291', 'id292', 'id293', 'id294', 'id295', 'id296', 'id297', 'id298', 'id299', 'id300', 'id301', 'id302', 'id303', 'id304', 'id305', 'id306', 'id307', 'id308', 'id309', 'id310', 'id311', 'id312', 'id313', 'id314', 'id315', 'id316', 'id317', 'id318', 'id319', 'id320', 'id321', 'id322', 'id323', 'id324', 'id325', 'id326', 'id327', 'id328', 'id329', 'id330', 'id331', 'id332', 'id333', 'id334', 'id335', 'id336', 'id337', 'id338', 'id339', 'id340', 'id341', 'id342', 'id343', 'id344', 'id345', 'id346', 'id347', 'id348', 'id349', 'id350', 'id351', 'id352', 'id353', 'id354', 'id355', 'id356', 'id357', 'id358', 'id359', 'id360', 'id361', 'id362', 'id363', 'id364', 'id365', 'id366', 'id367', 'id368', 'id369', 'id370', 'id371', 'id372', 'id373', 'id374', 'id375', 'id376', 'id377', 'id378', 'id379', 'id380', 'id381', 'id382', 'id383', 'id384', 'id385', 'id386', 'id387', 'id388', 'id389', 'id390', 'id391', 'id392', 'id393', 'id394', 'id395', 'id396', 'id397', 'id398', 'id399', 'id400', 'id401', 'id402', 'id403', 'id404', 'id405', 'id406', 'id407', 'id408', 'id409', 'id410', 'id411', 'id412', 'id413', 'id414', 'id415', 'id416', 'id417', 'id418', 'id419', 'id420', 'id421', 'id422', 'id423', 'id424', 'id425', 'id426', 'id427', 'id428', 'id429', 'id430', 'id431', 'id432', 'id433', 'id434', 'id435', 'id436', 'id437', 'id438', 'id439', 'id440', 'id441', 'id442', 'id443', 'id444', 'id445', 'id446', 'id447', 'id448', 'id449', 'id450', 'id451', 'id452', 'id453', 'id454', 'id455', 'id456', 'id457', 'id458', 'id459', 'id460', 'id461', 'id462', 'id463', 'id464', 'id465', 'id466', 'id467', 'id468', 'id469', 'id470', 'id471', 'id472', 'id473', 'id474', 'id475', 'id476', 'id477', 'id478', 'id479', 'id480', 'id481', 'id482', 'id483', 'id484', 'id485', 'id486', 'id487', 'id488', 'id489', 'id490', 'id491', 'id492', 'id493', 'id494', 'id495', 'id496', 'id497', 'id498', 'id499', 'id500', 'id501', 'id502', 'id503', 'id504', 'id505', 'id506', 'id507', 'id508', 'id509', 'id510', 'id511', 'id512', 'id513', 'id514', 'id515', 'id516', 'id517', 'id518', 'id519', 'id520', 'id521', 'id522', 'id523', 'id524', 'id525', 'id526', 'id527', 'id528', 'id529', 'id530', 'id531', 'id532', 'id533', 'id534', 'id535', 'id536', 'id537', 'id538', 'id539', 'id540', 'id541', 'id542', 'id543', 'id544', 'id545', 'id546', 'id547', 'id548', 'id549', 'id550', 'id551', 'id552', 'id553', 'id554', 'id555', 'id556', 'id557', 'id558', 'id559', 'id560', 'id561', 'id562', 'id563', 'id564', 'id565', 'id566', 'id567', 'id568', 'id569', 'id570', 'id571', 'id572', 'id573', 'id574', 'id575', 'id576', 'id577', 'id578', 'id579', 'id580', 'id581', 'id582', 'id583', 'id584', 'id585', 'id586', 'id587', 'id588', 'id589', 'id590', 'id591', 'id592', 'id593', 'id594', 'id595', 'id596', 'id597', 'id598', 'id599', 'id600', 'id601', 'id602', 'id603', 'id604', 'id605', 'id606', 'id607', 'id608', 'id609', 'id610', 'id611', 'id612', 'id613', 'id614', 'id615', 'id616', 'id617', 'id618', 'id619', 'id620', 'id621', 'id622', 'id623', 'id624', 'id625', 'id626', 'id627', 'id628', 'id629', 'id630', 'id631', 'id632', 'id633', 'id634', 'id635', 'id636', 'id637', 'id638', 'id639', 'id640', 'id641', 'id642', 'id643', 'id644', 'id645', 'id646', 'id647', 'id648', 'id649', 'id650', 'id651', 'id652', 'id653', 'id654', 'id655', 'id656', 'id657', 'id658', 'id659', 'id660', 'id661', 'id662', 'id663', 'id664', 'id665', 'id666', 'id667', 'id668', 'id669', 'id670', 'id671', 'id672', 'id673', 'id674', 'id675', 'id676', 'id677', 'id678', 'id679', 'id680', 'id681', 'id682', 'id683', 'id684', 'id685', 'id686', 'id687', 'id688', 'id689', 'id690', 'id691', 'id692', 'id693', 'id694', 'id695', 'id696', 'id697', 'id698', 'id699', 'id700', 'id701', 'id702', 'id703', 'id704', 'id705', 'id706', 'id707', 'id708', 'id709', 'id710', 'id711', 'id712', 'id713', 'id714', 'id715', 'id716', 'id717', 'id718', 'id719', 'id720', 'id721', 'id722', 'id723', 'id724', 'id725', 'id726', 'id727', 'id728', 'id729', 'id730', 'id731', 'id732', 'id733', 'id734', 'id735', 'id736', 'id737', 'id738', 'id739', 'id740', 'id741', 'id742', 'id743', 'id744', 'id745', 'id746', 'id747', 'id748', 'id749', 'id750', 'id751', 'id752', 'id753', 'id754', 'id755', 'id756', 'id757', 'id758', 'id759', 'id760', 'id761', 'id762', 'id763', 'id764', 'id765', 'id766', 'id767', 'id768', 'id769', 'id770', 'id771', 'id772', 'id773', 'id774', 'id775', 'id776', 'id777', 'id778', 'id779', 'id780', 'id781', 'id782', 'id783', 'id784', 'id785', 'id786', 'id787', 'id788', 'id789', 'id790', 'id791', 'id792', 'id793', 'id794', 'id795', 'id796', 'id797', 'id798', 'id799', 'id800', 'id801', 'id802', 'id803', 'id804', 'id805', 'id806', 'id807', 'id808', 'id809', 'id810', 'id811', 'id812', 'id813', 'id814', 'id815', 'id816', 'id817', 'id818', 'id819', 'id820', 'id821', 'id822', 'id823', 'id824', 'id825', 'id826', 'id827', 'id828', 'id829', 'id830', 'id831', 'id832', 'id833', 'id834', 'id835', 'id836', 'id837', 'id838', 'id839', 'id840', 'id841', 'id842', 'id843', 'id844', 'id845', 'id846', 'id847', 'id848', 'id849', 'id850', 'id851', 'id852', 'id853', 'id854', 'id855', 'id856', 'id857', 'id858', 'id859', 'id860', 'id861', 'id862', 'id863', 'id864', 'id865', 'id866', 'id867', 'id868', 'id869', 'id870', 'id871', 'id872', 'id873', 'id874', 'id875', 'id876', 'id877', 'id878', 'id879', 'id880', 'id881', 'id882', 'id883', 'id884', 'id885', 'id886', 'id887', 'id888', 'id889', 'id890', 'id891', 'id892', 'id893', 'id894', 'id895', 'id896', 'id897', 'id898', 'id899', 'id900', 'id901', 'id902', 'id903', 'id904', 'id905', 'id906', 'id907', 'id908', 'id909', 'id910', 'id911', 'id912', 'id913', 'id914', 'id915', 'id916', 'id917', 'id918', 'id919', 'id920', 'id921', 'id922', 'id923', 'id924', 'id925', 'id926', 'id927', 'id928', 'id929', 'id930', 'id931', 'id932', 'id933', 'id934', 'id935', 'id936', 'id937', 'id938', 'id939', 'id940', 'id941', 'id942', 'id943', 'id944', 'id945', 'id946', 'id947', 'id948', 'id949', 'id950', 'id951', 'id952', 'id953', 'id954', 'id955', 'id956', 'id957', 'id958', 'id959', 'id960', 'id961', 'id962', 'id963', 'id964', 'id965', 'id966', 'id967', 'id968', 'id969', 'id970', 'id971', 'id972', 'id973', 'id974', 'id975', 'id976', 'id977', 'id978', 'id979', 'id980', 'id981', 'id982', 'id983', 'id984', 'id985', 'id986', 'id987', 'id988', 'id989', 'id990', 'id991', 'id992', 'id993', 'id994', 'id995', 'id996', 'id997', 'id998', 'id999', 'id1000', 'id1001', 'id1002', 'id1003', 'id1004', 'id1005', 'id1006', 'id1007', 'id1008', 'id1009', 'id1010', 'id1011', 'id1012', 'id1013', 'id1014', 'id1015', 'id1016', 'id1017', 'id1018', 'id1019', 'id1020', 'id1021', 'id1022', 'id1023', 'id1024', 'id1025', 'id1026', 'id1027', 'id1028', 'id1029', 'id1030', 'id1031', 'id1032', 'id1033', 'id1034', 'id1035', 'id1036', 'id1037', 'id1038', 'id1039', 'id1040', 'id1041', 'id1042', 'id1043', 'id1044', 'id1045', 'id1046', 'id1047', 'id1048', 'id1049', 'id1050', 'id1051', 'id1052', 'id1053', 'id1054', 'id1055', 'id1056', 'id1057', 'id1058', 'id1059', 'id1060', 'id1061', 'id1062', 'id1063', 'id1064', 'id1065', 'id1066', 'id1067', 'id1068', 'id1069', 'id1070', 'id1071', 'id1072', 'id1073', 'id1074', 'id1075', 'id1076', 'id1077', 'id1078', 'id1079', 'id1080', 'id1081', 'id1082', 'id1083', 'id1084', 'id1085', 'id1086', 'id1087', 'id1088', 'id1089', 'id1090', 'id1091', 'id1092', 'id1093', 'id1094', 'id1095', 'id1096', 'id1097', 'id1098', 'id1099', 'id1100', 'id1101', 'id1102', 'id1103', 'id1104', 'id1105', 'id1106', 'id1107', 'id1108', 'id1109', 'id1110', 'id1111', 'id1112', 'id1113', 'id1114', 'id1115', 'id1116', 'id1117', 'id1118', 'id1119', 'id1120', 'id1121', 'id1122', 'id1123', 'id1124', 'id1125', 'id1126', 'id1127', 'id1128', 'id1129', 'id1130', 'id1131', 'id1132', 'id1133', 'id1134', 'id1135', 'id1136', 'id1137', 'id1138', 'id1139', 'id1140', 'id1141', 'id1142', 'id1143', 'id1144', 'id1145', 'id1146', 'id1147', 'id1148', 'id1149', 'id1150', 'id1151', 'id1152', 'id1153', 'id1154', 'id1155', 'id1156', 'id1157', 'id1158', 'id1159', 'id1160', 'id1161', 'id1162', 'id1163', 'id1164', 'id1165', 'id1166', 'id1167', 'id1168', 'id1169', 'id1170', 'id1171', 'id1172', 'id1173', 'id1174', 'id1175', 'id1176', 'id1177', 'id1178', 'id1179', 'id1180', 'id1181', 'id1182', 'id1183', 'id1184', 'id1185', 'id1186', 'id1187', 'id1188', 'id1189', 'id1190', 'id1191', 'id1192', 'id1193', 'id1194', 'id1195', 'id1196', 'id1197', 'id1198', 'id1199', 'id1200', 'id1201', 'id1202', 'id1203', 'id1204', 'id1205', 'id1206', 'id1207', 'id1208', 'id1209', 'id1210', 'id1211', 'id1212', 'id1213', 'id1214', 'id1215', 'id1216', 'id1217', 'id1218', 'id1219', 'id1220', 'id1221', 'id1222', 'id1223', 'id1224', 'id1225', 'id1226', 'id1227', 'id1228', 'id1229', 'id1230', 'id1231', 'id1232', 'id1233', 'id1234', 'id1235', 'id1236', 'id1237', 'id1238', 'id1239', 'id1240', 'id1241', 'id1242', 'id1243', 'id1244', 'id1245', 'id1246', 'id1247', 'id1248', 'id1249', 'id1250', 'id1251', 'id1252', 'id1253', 'id1254', 'id1255', 'id1256', 'id1257', 'id1258', 'id1259', 'id1260', 'id1261', 'id1262', 'id1263', 'id1264', 'id1265', 'id1266', 'id1267', 'id1268', 'id1269', 'id1270', 'id1271', 'id1272', 'id1273', 'id1274', 'id1275', 'id1276', 'id1277', 'id1278', 'id1279', 'id1280', 'id1281', 'id1282', 'id1283', 'id1284', 'id1285', 'id1286', 'id1287', 'id1288', 'id1289', 'id1290', 'id1291', 'id1292', 'id1293', 'id1294', 'id1295', 'id1296', 'id1297', 'id1298', 'id1299', 'id1300', 'id1301', 'id1302', 'id1303', 'id1304', 'id1305', 'id1306', 'id1307', 'id1308', 'id1309', 'id1310', 'id1311', 'id1312', 'id1313', 'id1314', 'id1315', 'id1316', 'id1317', 'id1318', 'id1319', 'id1320', 'id1321', 'id1322', 'id1323', 'id1324', 'id1325', 'id1326', 'id1327', 'id1328', 'id1329', 'id1330', 'id1331', 'id1332', 'id1333', 'id1334', 'id1335', 'id1336', 'id1337', 'id1338', 'id1339', 'id1340', 'id1341', 'id1342', 'id1343', 'id1344', 'id1345', 'id1346', 'id1347', 'id1348', 'id1349', 'id1350', 'id1351', 'id1352', 'id1353', 'id1354', 'id1355', 'id1356', 'id1357', 'id1358', 'id1359', 'id1360', 'id1361', 'id1362', 'id1363', 'id1364', 'id1365', 'id1366', 'id1367', 'id1368', 'id1369', 'id1370', 'id1371', 'id1372', 'id1373', 'id1374', 'id1375', 'id1376', 'id1377', 'id1378', 'id1379', 'id1380', 'id1381', 'id1382', 'id1383', 'id1384', 'id1385', 'id1386', 'id1387', 'id1388', 'id1389', 'id1390', 'id1391', 'id1392', 'id1393', 'id1394', 'id1395', 'id1396', 'id1397', 'id1398', 'id1399', 'id1400', 'id1401', 'id1402', 'id1403', 'id1404', 'id1405', 'id1406', 'id1407', 'id1408', 'id1409', 'id1410', 'id1411', 'id1412', 'id1413', 'id1414', 'id1415', 'id1416', 'id1417', 'id1418', 'id1419', 'id1420', 'id1421', 'id1422', 'id1423', 'id1424', 'id1425', 'id1426', 'id1427', 'id1428', 'id1429', 'id1430', 'id1431', 'id1432', 'id1433', 'id1434', 'id1435', 'id1436', 'id1437', 'id1438', 'id1439', 'id1440', 'id1441', 'id1442', 'id1443', 'id1444', 'id1445', 'id1446', 'id1447', 'id1448', 'id1449', 'id1450', 'id1451', 'id1452', 'id1453', 'id1454', 'id1455', 'id1456', 'id1457', 'id1458', 'id1459', 'id1460', 'id1461', 'id1462', 'id1463', 'id1464', 'id1465', 'id1466', 'id1467', 'id1468', 'id1469', 'id1470', 'id1471', 'id1472', 'id1473', 'id1474', 'id1475', 'id1476', 'id1477', 'id1478', 'id1479', 'id1480', 'id1481', 'id1482', 'id1483', 'id1484', 'id1485', 'id1486', 'id1487', 'id1488', 'id1489', 'id1490', 'id1491', 'id1492', 'id1493', 'id1494', 'id1495', 'id1496', 'id1497', 'id1498', 'id1499', 'id1500', 'id1501', 'id1502', 'id1503', 'id1504', 'id1505', 'id1506', 'id1507', 'id1508', 'id1509', 'id1510', 'id1511', 'id1512', 'id1513', 'id1514', 'id1515', 'id1516', 'id1517', 'id1518', 'id1519', 'id1520', 'id1521', 'id1522', 'id1523', 'id1524', 'id1525', 'id1526', 'id1527', 'id1528', 'id1529', 'id1530', 'id1531', 'id1532', 'id1533', 'id1534', 'id1535', 'id1536', 'id1537', 'id1538', 'id1539', 'id1540', 'id1541', 'id1542', 'id1543', 'id1544', 'id1545', 'id1546', 'id1547', 'id1548', 'id1549', 'id1550', 'id1551', 'id1552', 'id1553', 'id1554', 'id1555', 'id1556', 'id1557', 'id1558', 'id1559', 'id1560', 'id1561', 'id1562', 'id1563', 'id1564', 'id1565', 'id1566', 'id1567', 'id1568', 'id1569', 'id1570', 'id1571', 'id1572', 'id1573', 'id1574', 'id1575', 'id1576', 'id1577', 'id1578', 'id1579', 'id1580', 'id1581', 'id1582', 'id1583', 'id1584', 'id1585', 'id1586', 'id1587', 'id1588', 'id1589', 'id1590', 'id1591', 'id1592', 'id1593', 'id1594', 'id1595', 'id1596', 'id1597', 'id1598', 'id1599', 'id1600', 'id1601', 'id1602', 'id1603', 'id1604', 'id1605', 'id1606', 'id1607', 'id1608', 'id1609', 'id1610', 'id1611', 'id1612', 'id1613', 'id1614', 'id1615', 'id1616', 'id1617', 'id1618', 'id1619', 'id1620', 'id1621', 'id1622', 'id1623', 'id1624', 'id1625', 'id1626', 'id1627', 'id1628', 'id1629', 'id1630', 'id1631', 'id1632', 'id1633', 'id1634', 'id1635', 'id1636', 'id1637', 'id1638', 'id1639', 'id1640', 'id1641', 'id1642', 'id1643', 'id1644', 'id1645', 'id1646', 'id1647', 'id1648', 'id1649', 'id1650', 'id1651', 'id1652', 'id1653', 'id1654', 'id1655', 'id1656', 'id1657', 'id1658', 'id1659', 'id1660', 'id1661', 'id1662', 'id1663', 'id1664', 'id1665', 'id1666', 'id1667', 'id1668', 'id1669', 'id1670', 'id1671', 'id1672', 'id1673', 'id1674', 'id1675', 'id1676', 'id1677', 'id1678', 'id1679', 'id1680', 'id1681', 'id1682', 'id1683', 'id1684', 'id1685', 'id1686', 'id1687', 'id1688', 'id1689', 'id1690', 'id1691', 'id1692', 'id1693', 'id1694', 'id1695', 'id1696', 'id1697', 'id1698', 'id1699', 'id1700', 'id1701', 'id1702', 'id1703', 'id1704', 'id1705', 'id1706', 'id1707', 'id1708', 'id1709', 'id1710', 'id1711', 'id1712', 'id1713', 'id1714', 'id1715', 'id1716', 'id1717', 'id1718', 'id1719', 'id1720', 'id1721', 'id1722', 'id1723', 'id1724', 'id1725', 'id1726', 'id1727', 'id1728', 'id1729', 'id1730', 'id1731', 'id1732', 'id1733', 'id1734', 'id1735', 'id1736', 'id1737', 'id1738', 'id1739', 'id1740', 'id1741', 'id1742', 'id1743', 'id1744', 'id1745', 'id1746', 'id1747', 'id1748', 'id1749', 'id1750', 'id1751', 'id1752', 'id1753']

In [394]:
movie_df

     Movie ID                   Movie Name
0         id1       Leave the World Behind
1         id2                        Wonka
2         id3                  Poor Things
3         id4   Killers of the Flower Moon
4         id5                 May December
...       ...                          ...
1748   id1749                      Annette
1749   id1750            Definitely, Maybe
1750   id1751                      The Fly
1751   id1752             The Mighty Ducks
1752   id1753                American Made

[1753 rows x 2 columns]

In [455]:
# Rename columns
movie_df.rename(columns={'movie_id': 'Movie ID', 'movie_name': 'Movie Name' }, inplace=True)
movie_df.head(5)

  Movie ID                   Movie Name
0      id1       Leave the World Behind
1      id2                        Wonka
2      id3                  Poor Things
3      id4   Killers of the Flower Moon
4      id5                 May December

In [523]:
# Export movie_df as CSV files.
movie_df.to_csv("CleanData/imdb_moviesID.csv", index=False)

### Golden Globe Award DataFrame
----
**Clean and Manipulate a Golden Globe Data:**
- check for null values
- remane columns
- remove awards that contain "Television"
- remove rows for Nominees and leave only Winners
- drop duplicate rows
- assign IDs for each unique award
- export the DataFrame as a 'goldenglobe_winners.csv' CSV file
- create a Golden Globe Awards DataFrame with the award_id array as the GG_award_id and awards list as the award category.
- reorder the columns 
- create new Data frame for list of Golden Globe Awards with their unique ID's.
- export the DataFrame as a `GG_awardID.csv` CSV file.

In [397]:
# Pull in Golden Globe Award Data into a dataframe
goldenglobe_data = pd.read_csv('Resources/goldenglobes.csv', encoding='utf-8')
goldenglobe_data.head(10)

,title,year,status,award
0,Succession,2024,Winner,Best Television Series - Drama
1,Mission: Impossible - Dead Reckoning Part 1,2024,Nominee,Cinematic and Box Office Achievement
2,"Last of Us, The",2024,Nominee,Best Television Series - Drama
3,Taylor Swift: The Eras Tour,2024,Nominee,Cinematic and Box Office Achievement
4,John Wick: Chapter 4,2024,Nominee,Cinematic and Box Office Achievement
5,The Super Mario Bros. Movie,2024,Nominee,Cinematic and Box Office Achievement
6,Guardians of the Galaxy Vol. 3,2024,Nominee,Cinematic and Box Office Achievement
7,Spider-Man: Across the Spider-Verse,2024,Nominee,Cinematic and Box Office Achievement
8,Oppenheimer,2024,Nominee,Cinematic and Box Office Achievement
9,Barbie,2024,Winner,Cinematic and Box Office Achievement

In [398]:
# Check for null values
# Remove rows with null values
goldenglobe_data = goldenglobe_data.dropna()
goldenglobe_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8660 entries, 0 to 8689
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   8660 non-null   object
 1   year    8660 non-null   int64
 2   status  8660 non-null   object
 3   award   8660 non-null   object
dtypes: int64(1), object(3)
memory usage: 338.3+ KB

In [399]:
# Rename column Movie Name
goldenglobe_data.rename(columns={'title': 'Movie Name', 'year': 'Year', 'status': 'Status', 'award': 'Golden Globe Award'}, inplace=True)
goldenglobe_data.head(5)

,Movie Name,Year,Status,Golden Globe Award
0,Succession,2024,Winner,Best Television Series - Drama
1,Mission: Impossible - Dead Reckoning Part 1,2024,Nominee,Cinematic and Box Office Achievement
2,"Last of Us, The",2024,Nominee,Best Television Series - Drama
3,Taylor Swift: The Eras Tour,2024,Nominee,Cinematic and Box Office Achievement
4,John Wick: Chapter 4,2024,Nominee,Cinematic and Box Office Achievement

In [400]:
# Remove awards that contain "Television" in the string
## We are only looking at the movie golden globe awards
goldenglobe_data = goldenglobe_data[~goldenglobe_data['Golden Globe Award'].str.contains("Television", na=False)]
goldenglobe_data.head(5)

,Movie Name,Year,Status,Golden Globe Award
1,Mission: Impossible - Dead Reckoning Part 1,2024,Nominee,Cinematic and Box Office Achievement
3,Taylor Swift: The Eras Tour,2024,Nominee,Cinematic and Box Office Achievement
4,John Wick: Chapter 4,2024,Nominee,Cinematic and Box Office Achievement
5,The Super Mario Bros. Movie,2024,Nominee,Cinematic and Box Office Achievement
6,Guardians of the Galaxy Vol. 3,2024,Nominee,Cinematic and Box Office Achievement

In [412]:
# Create Golden Globe DataFrame
goldenglobe_data_df = pd.DataFrame(goldenglobe_data)
goldenglobe_data_df

,Movie Name,Year,Status,Golden Globe Award
1,Mission: Impossible - Dead Reckoning Part 1,2024,Nominee,Cinematic and Box Office Achievement
3,Taylor Swift: The Eras Tour,2024,Nominee,Cinematic and Box Office Achievement
4,John Wick: Chapter 4,2024,Nominee,Cinematic and Box Office Achievement
5,The Super Mario Bros. Movie,2024,Nominee,Cinematic and Box Office Achievement
6,Guardians of the Galaxy Vol. 3,2024,Nominee,Cinematic and Box Office Achievement
...,...,...,...,...
8685,Billy Wilder,1946,Winner,Best Director - Motion Picture
8686,Angela Lansbury,1946,Winner,Best Performance by an Actress in a Supporting...
8687,J. Carroll Naish,1946,Winner,Best Performance by an Actor in a Supporting R...
8688,Ingrid Bergman,1946,Winner,Actress In A Leading Role
8689,The House I Live In,1946,Winner,Promoting International Understanding

In [423]:
# Create DataFrame of Golden Globe winners.
goldenglobe_winners_df = goldenglobe_data_df[goldenglobe_data_df['Status'] == "Winner"][['Movie Name', 'Year', 'Status', 'Golden Globe Award']]
goldenglobe_winners_df

,Movie Name,Year,Status,Golden Globe Award
9,Barbie,2024,Winner,Cinematic and Box Office Achievement
19,Barbie,2024,Winner,Cinematic and Box Office Achievement
23,"Justine Triet, Arthur Harari",2024,Winner,Best Screenplay - Motion Picture
33,"Justine Triet, Arthur Harari",2024,Winner,Best Screenplay - Motion Picture
43,"Justine Triet, Arthur Harari",2024,Winner,Best Screenplay - Motion Picture
...,...,...,...,...
8685,Billy Wilder,1946,Winner,Best Director - Motion Picture
8686,Angela Lansbury,1946,Winner,Best Performance by an Actress in a Supporting...
8687,J. Carroll Naish,1946,Winner,Best Performance by an Actor in a Supporting R...
8688,Ingrid Bergman,1946,Winner,Actress In A Leading Role
8689,The House I Live In,1946,Winner,Promoting International Understanding

In [462]:
# Check for duplicates
duplicate_rows = goldenglobe_winners_df[goldenglobe_winners_df.duplicated(subset=['Movie Name', 'Golden Globe Award'])]
# Display duplicate rows
duplicate_rows

,Movie Name,Year,Status,Golden Globe Award
19,Barbie,2024,Winner,Cinematic and Box Office Achievement
33,"Justine Triet, Arthur Harari",2024,Winner,Best Screenplay - Motion Picture
43,"Justine Triet, Arthur Harari",2024,Winner,Best Screenplay - Motion Picture
82,Emma Stone,2024,Winner,Best Performance by a Female Actor in a Motion...
123,Lily Gladstone,2024,Winner,Best Performance by a Female Actor in a Motion...
...,...,...,...,...
8668,Elia Kazan,1948,Winner,Best Director - Motion Picture
8672,Edmund Gwenn,1948,Winner,Best Performance by an Actor in a Supporting R...
8682,Rosalind Russell,1947,Winner,Actress In A Leading Role
8685,Billy Wilder,1946,Winner,Best Director - Motion Picture
8686,Angela Lansbury,1946,Winner,Best Performance by an Actress in a Supporting...

In [425]:
# Drop duplicate rows
gg_award_df = goldenglobe_winners_df.drop_duplicates(subset=['Movie Name', 'Golden Globe Award'])
# Display DataFrame without duplicates
gg_award_df

,Movie Name,Year,Status,Golden Globe Award
9,Barbie,2024,Winner,Cinematic and Box Office Achievement
23,"Justine Triet, Arthur Harari",2024,Winner,Best Screenplay - Motion Picture
53,Christopher Nolan,2024,Winner,Best Director - Motion Picture
66,Anatomy of a Fall,2024,Winner,Best Motion Picture – Non-English Language
72,Emma Stone,2024,Winner,Best Performance by a Female Actor in a Motion...
...,...,...,...,...
8683,Ray Milland,1946,Winner,Actor In A Leading Role
8684,The Lost Weekend,1946,Winner,Picture
8687,J. Carroll Naish,1946,Winner,Best Performance by an Actor in a Supporting R...
8688,Ingrid Bergman,1946,Winner,Actress In A Leading Role
8689,The House I Live In,1946,Winner,Promoting International Understanding

In [427]:
# Check for unique awards
unique_awards = gg_award_df['Golden Globe Award'].unique()
print(unique_awards)
print(len(unique_awards))

['Cinematic and Box Office Achievement' 'Best Screenplay - Motion Picture'
 'Best Director - Motion Picture'
 'Best Motion Picture – Non-English Language'
 'Best Performance by a Female Actor in a Motion Picture – Musical or Comedy'
 'Best Motion Picture - Musical or Comedy'
 'Best Performance by a Female Actor in a Motion Picture – Drama'
 'Best Original Song - Motion Picture'
 'Best Original Score - Motion Picture' 'Best Motion Picture - Drama'
 'Best Performance by an Actress in a Motion Picture - Drama'
 'Best Performance by an Actor in a Motion Picture - Drama'
 'Best Performance by an Actress in a Motion Picture - Musical or Comedy'
 'Best Performance by an Actress in a Supporting Role in any Motion Picture'
 'Best Performance by an Actor in a Supporting Role in any Motion Picture'
 'Best Performance by an Actor in a Motion Picture - Musical or Comedy'
 'Best Motion Picture - Animated' 'Special Achievement Award'
 'New Star Of The Year - Actress' 'New Star Of The Year - Actor'
 'World Film Favorites' 'Documentary' 'Foreign Film - English Language'
 'Foreign Film - Foreign Language'
 'Actress In A Leading Role - Musical Or Comedy'
 'Samuel Goldwyn International Award'
 'Promoting International Understanding' 'Picture - Musical'
 'Cinematography - Black And White' 'Cinematography - Color'
 'Picture - Comedy' 'Famous Silent Filmstars' 'Juvenile Performance'
 'Hollywood Citizenship Award' 'New Foreign Star Of The Year - Actress'
 'New Foreign Star Of The Year - Actor' 'Best Outdoor Drama'
 'New Star Of The Year' 'Picture' 'Actor In A Leading Role'
 'Cinematography' 'Actress In A Leading Role' 'Outstanding Use Of Color']
43

In [437]:
# Define IDs for each unique award
gg_award_ids = [
    'GG001', 'GG002', 'GG003', 'GG004', 'GG005', 'GG006', 'GG007', 'GG008', 'GG009', 'GG010','GG011', 'GG012', 'GG013', 'GG014', 'GG015', 'GG016', 'GG017', 'GG018', 'GG019', 'GG020', 'GG021', 'GG022', 'GG023',
    'GG024', 'GG025', 'GG026', 'GG027', 'GG028', 'GG029', 'GG030', 'GG031', 'GG032', 'GG033', 'GG034', 'GG035', 'GG036', 'GG037', 'GG038', 'GG039', 'GG040', 'GG041', 'GG042', 'GG043']

# Create a dictionary to map awards to their IDs
award_id_mapping = dict(zip(unique_awards, gg_award_ids))

# Add a new column with award IDs to the DataFrame
gg_award_df['GG Award ID'] = gg_award_df['Golden Globe Award'].map(award_id_mapping)

# Display the updated DataFrame
gg_award_df

/var/folders/yf/0gt643454sxc9x7hvl82d_740000gn/T/ipykernel_86789/379235384.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gg_award_df['GG Award ID'] = gg_award_df['Golden Globe Award'].map(award_id_mapping)

,Movie Name,Year,Status,Golden Globe Award,GG Award ID
9,Barbie,2024,Winner,Cinematic and Box Office Achievement,GG001
23,"Justine Triet, Arthur Harari",2024,Winner,Best Screenplay - Motion Picture,GG002
53,Christopher Nolan,2024,Winner,Best Director - Motion Picture,GG003
66,Anatomy of a Fall,2024,Winner,Best Motion Picture – Non-English Language,GG004
72,Emma Stone,2024,Winner,Best Performance by a Female Actor in a Motion...,GG005
...,...,...,...,...,...
8683,Ray Milland,1946,Winner,Actor In A Leading Role,GG040
8684,The Lost Weekend,1946,Winner,Picture,GG039
8687,J. Carroll Naish,1946,Winner,Best Performance by an Actor in a Supporting R...,GG015
8688,Ingrid Bergman,1946,Winner,Actress In A Leading Role,GG042
8689,The House I Live In,1946,Winner,Promoting International Understanding,GG027

In [438]:
# Export goldenglobe_winners_df as CSV files.
gg_award_df.to_csv("CleanData/goldenglobe_winners.csv", index=False)

In [445]:
# Create a Golden Globe Awards DataFrame with the award_id array as the GG_award_id and awards list as the award category.
# Drop unwanted columns 
columns_to_drop = ['Movie Name', 'Year', 'Status', ]
gg_award_id_df = gg_award_df.drop(columns=columns_to_drop)

# Drop duplicate rows
clean_gg_award_id_df = gg_award_id_df.drop_duplicates(subset=['Golden Globe Award', 'GG Award ID',])
clean_gg_award_id_df

                                     Golden Globe Award GG Award ID
9                  Cinematic and Box Office Achievement       GG001
23                     Best Screenplay - Motion Picture       GG002
53                       Best Director - Motion Picture       GG003
66           Best Motion Picture – Non-English Language       GG004
72    Best Performance by a Female Actor in a Motion...       GG005
92              Best Motion Picture - Musical or Comedy       GG006
113   Best Performance by a Female Actor in a Motion...       GG007
116                 Best Original Song - Motion Picture       GG008
152                Best Original Score - Motion Picture       GG009
159                         Best Motion Picture - Drama       GG010
189   Best Performance by an Actress in a Motion Pic...       GG011
194   Best Performance by an Actor in a Motion Pictu...       GG012
208   Best Performance by an Actress in a Motion Pic...       GG013
214   Best Performance by an Actress in a Supporting...       GG014
232   Best Performance by an Actor in a Supporting R...       GG015
469   Best Performance by an Actor in a Motion Pictu...       GG016
477                      Best Motion Picture - Animated       GG017
4060                          Special Achievement Award       GG018
5348                     New Star Of The Year - Actress       GG019
5353                       New Star Of The Year - Actor       GG020
5757                               World Film Favorites       GG021
6238                                        Documentary       GG022
6679                    Foreign Film - English Language       GG023
6684                    Foreign Film - Foreign Language       GG024
6984      Actress In A Leading Role - Musical Or Comedy       GG025
7582                 Samuel Goldwyn International Award       GG026
7719              Promoting International Understanding       GG027
7804                                  Picture - Musical       GG028
7852                   Cinematography - Black And White       GG029
7853                             Cinematography - Color       GG030
7993                                   Picture - Comedy       GG031
8154                            Famous Silent Filmstars       GG032
8210                               Juvenile Performance       GG033
8350                        Hollywood Citizenship Award       GG034
8356             New Foreign Star Of The Year - Actress       GG035
8357               New Foreign Star Of The Year - Actor       GG036
8414                                 Best Outdoor Drama       GG037
8596                               New Star Of The Year       GG038
8618                                            Picture       GG039
8622                            Actor In A Leading Role       GG040
8631                                     Cinematography       GG041
8636                          Actress In A Leading Role       GG042
8638                           Outstanding Use Of Color       GG043

In [452]:
# Remove the index column
df_without_index = clean_gg_award_id_df.reset_index(drop=True)

# Reorder the columns 
columns_order = ['GG Award ID', 'Golden Globe Award']
GG_df = df_without_index[columns_order]

# Display the updated DataFrame
GG_df

   GG Award ID                                 Golden Globe Award
0        GG001               Cinematic and Box Office Achievement
1        GG002                   Best Screenplay - Motion Picture
2        GG003                     Best Director - Motion Picture
3        GG004         Best Motion Picture – Non-English Language
4        GG005  Best Performance by a Female Actor in a Motion...
5        GG006            Best Motion Picture - Musical or Comedy
6        GG007  Best Performance by a Female Actor in a Motion...
7        GG008                Best Original Song - Motion Picture
8        GG009               Best Original Score - Motion Picture
9        GG010                        Best Motion Picture - Drama
10       GG011  Best Performance by an Actress in a Motion Pic...
11       GG012  Best Performance by an Actor in a Motion Pictu...
12       GG013  Best Performance by an Actress in a Motion Pic...
13       GG014  Best Performance by an Actress in a Supporting...
14       GG015  Best Performance by an Actor in a Supporting R...
15       GG016  Best Performance by an Actor in a Motion Pictu...
16       GG017                     Best Motion Picture - Animated
17       GG018                          Special Achievement Award
18       GG019                     New Star Of The Year - Actress
19       GG020                       New Star Of The Year - Actor
20       GG021                               World Film Favorites
21       GG022                                        Documentary
22       GG023                    Foreign Film - English Language
23       GG024                    Foreign Film - Foreign Language
24       GG025      Actress In A Leading Role - Musical Or Comedy
25       GG026                 Samuel Goldwyn International Award
26       GG027              Promoting International Understanding
27       GG028                                  Picture - Musical
28       GG029                   Cinematography - Black And White
29       GG030                             Cinematography - Color
30       GG031                                   Picture - Comedy
31       GG032                            Famous Silent Filmstars
32       GG033                               Juvenile Performance
33       GG034                        Hollywood Citizenship Award
34       GG035             New Foreign Star Of The Year - Actress
35       GG036               New Foreign Star Of The Year - Actor
36       GG037                                 Best Outdoor Drama
37       GG038                               New Star Of The Year
38       GG039                                            Picture
39       GG040                            Actor In A Leading Role
40       GG041                                     Cinematography
41       GG042                          Actress In A Leading Role
42       GG043                           Outstanding Use Of Color

In [510]:
# Export Golden Globe Award list as CSV files.
GG_df.to_csv("CleanData/GG_AwardID.csv", index=False)

### Oscar Award DataFrame
----
**Clean and Manipulate a Oscar Data:**
- check for null values
- drop the rows with nill value
- drop unwanted columns "ceremony"
- remane columns
- delete all rows for Nominees, and leave only Winners
- check for duplicates
- export the DataFrame as a 'oscar_winners.csv' CSV file
- 
- 
- drop duplicate rows
- assign IDs for each unique award
- export the DataFrame as a 'goldenglobe_winners.csv' CSV file
- create a Golden Globe Awards DataFrame with the award_id array as the GG_award_id and awards list as the award category.
- reorder the columns 
- create new Data frame for list of Golden Globe Awards with their unique ID's.
- export the DataFrame as a `GG_awardID.csv` CSV file.

In [485]:
# Pull in Oscar Award Data into a dataframe
oscar_data = pd.read_csv('Resources/the_oscar_award.csv', encoding='utf-8')
oscar_data.head(10)

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
5,1927,1928,1,ART DIRECTION,Rochus Gliese,Sunrise,False
6,1927,1928,1,ART DIRECTION,William Cameron Menzies,The Dove;,True
7,1927,1928,1,ART DIRECTION,Harry Oliver,7th Heaven,False
8,1927,1928,1,CINEMATOGRAPHY,George Barnes,The Devil Dancer;,False
9,1927,1928,1,CINEMATOGRAPHY,Charles Rosher,Sunrise,True

In [486]:
oscar_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10889 entries, 0 to 10888
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10889 non-null  int64
 1   year_ceremony  10889 non-null  int64
 2   ceremony       10889 non-null  int64
 3   category       10889 non-null  object
 4   name           10884 non-null  object
 5   film           10570 non-null  object
 6   winner         10889 non-null  bool
dtypes: bool(1), int64(3), object(3)
memory usage: 521.2+ KB

In [494]:
# Check the rows with null value.
rows_with_null = oscar_data[oscar_data.isnull().any(axis=1)]
rows_with_null.head(10)

,year_film,year_ceremony,ceremony,category,name,film,winner
16,1927,1928,1,ENGINEERING EFFECTS,Ralph Hammeras,NaN,False
18,1927,1928,1,ENGINEERING EFFECTS,Nugent Slaughter,NaN,False
31,1927,1928,1,WRITING (Title Writing),Joseph Farnham,NaN,True
32,1927,1928,1,WRITING (Title Writing),"George Marion, Jr.",NaN,False
33,1927,1928,1,SPECIAL AWARD,Warner Bros.,NaN,True
34,1927,1928,1,SPECIAL AWARD,Charles Chaplin,NaN,True
145,1930,1931,4,SOUND RECORDING,Samuel Goldwyn - United Artists Studio Sound D...,NaN,False
146,1930,1931,4,SOUND RECORDING,Metro-Goldwyn-Mayer Studio Sound Department,NaN,False
147,1930,1931,4,SOUND RECORDING,Paramount Publix Studio Sound Department,NaN,True
148,1930,1931,4,SOUND RECORDING,RKO Radio Studio Sound Department,NaN,False

In [496]:
# Drop unwanted columns "ceremony"
columns_to_drop = ['ceremony']
oscar_df = oscar_data.drop(columns=columns_to_drop)
oscar_df.head(10)

,year_film,year_ceremony,category,name,film,winner
0,1927,1928,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,ACTRESS,Gloria Swanson,Sadie Thompson,False
5,1927,1928,ART DIRECTION,Rochus Gliese,Sunrise,False
6,1927,1928,ART DIRECTION,William Cameron Menzies,The Dove;,True
7,1927,1928,ART DIRECTION,Harry Oliver,7th Heaven,False
8,1927,1928,CINEMATOGRAPHY,George Barnes,The Devil Dancer;,False
9,1927,1928,CINEMATOGRAPHY,Charles Rosher,Sunrise,True

In [497]:
# Drop the rows with no value.
oscar_df = oscar_df.dropna()
oscar_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10570 entries, 0 to 10884
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      10570 non-null  int64
 1   year_ceremony  10570 non-null  int64
 2   category       10570 non-null  object
 3   name           10570 non-null  object
 4   film           10570 non-null  object
 5   winner         10570 non-null  bool
dtypes: bool(1), int64(2), object(3)
memory usage: 505.8+ KB

In [498]:
# Rename column Movie Name
oscar_df.rename(columns={'film': 'Movie Name', 'category': 'Award', 'year_film': 'Year Film', 'year_ceremony': 'Year Ceremony',
'name': 'Name of Winner', 'winner': 'Status'}, inplace=True)
oscar_df.head(10)

,Year Film,Year Ceremony,Award,Name of Winner,Movie Name,Status
0,1927,1928,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,ACTRESS,Gloria Swanson,Sadie Thompson,False
5,1927,1928,ART DIRECTION,Rochus Gliese,Sunrise,False
6,1927,1928,ART DIRECTION,William Cameron Menzies,The Dove;,True
7,1927,1928,ART DIRECTION,Harry Oliver,7th Heaven,False
8,1927,1928,CINEMATOGRAPHY,George Barnes,The Devil Dancer;,False
9,1927,1928,CINEMATOGRAPHY,Charles Rosher,Sunrise,True

In [499]:
# Create Oscar DataFrame
clean_oscar_df = pd.DataFrame(oscar_df)
clean_oscar_df

,Year Film,Year Ceremony,Award,Name of Winner,Movie Name,Status
0,1927,1928,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...
10880,2023,2024,WRITING (Original Screenplay),Screenplay - Justine Triet and Arthur Harari,Anatomy of a Fall,True
10881,2023,2024,WRITING (Original Screenplay),Written by David Hemingson,The Holdovers,False
10882,2023,2024,WRITING (Original Screenplay),Written by Bradley Cooper & Josh Singer,Maestro,False
10883,2023,2024,WRITING (Original Screenplay),Screenplay by Samy Burch; Story by Samy Burch ...,May December,False
10884,2023,2024,WRITING (Original Screenplay),Written by Celine Song,Past Lives,False

In [500]:
# Find how many winners in the data
oscar_winners = oscar_df['Status'].value_counts()
print(oscar_winners)

False    8398
True     2172
Name: Status, dtype: int64

In [501]:
# Create DataFrame of oscar winners.
oscar_winners_df = oscar_df[oscar_df['Status'] == True]
oscar_winners_df.head()

,Year Film,Year Ceremony,Award,Name of Winner,Movie Name,Status
1,1927,1928,ACTOR,Emil Jannings,The Last Command,True
3,1927,1928,ACTRESS,Janet Gaynor,7th Heaven,True
6,1927,1928,ART DIRECTION,William Cameron Menzies,The Dove;,True
9,1927,1928,CINEMATOGRAPHY,Charles Rosher,Sunrise,True
10,1927,1928,CINEMATOGRAPHY,Karl Struss,Sunrise,True

In [502]:
# Check for duplicates
duplicate_rows = oscar_winners_df[oscar_winners_df.duplicated(subset=['Movie Name', 'Award', 'Name of Winner'])]
# Display duplicate rows
duplicate_rows

Empty DataFrame
Columns: [Year Film, Year Ceremony, Award, Name of Winner, Movie Name, Status]
Index: []

In [505]:
# Drop unwanted columns "Status"
columns_to_drop = ['Status']
clean_oscar_winners_df = oscar_winners_df.drop(columns=columns_to_drop)
clean_oscar_winners_df.head(10)

,Year Film,Year Ceremony,Award,Name of Winner,Movie Name
1,1927,1928,ACTOR,Emil Jannings,The Last Command
3,1927,1928,ACTRESS,Janet Gaynor,7th Heaven
6,1927,1928,ART DIRECTION,William Cameron Menzies,The Dove;
9,1927,1928,CINEMATOGRAPHY,Charles Rosher,Sunrise
10,1927,1928,CINEMATOGRAPHY,Karl Struss,Sunrise
11,1927,1928,DIRECTING (Comedy Picture),Lewis Milestone,Two Arabian Knights
13,1927,1928,DIRECTING (Dramatic Picture),Frank Borzage,7th Heaven
17,1927,1928,ENGINEERING EFFECTS,Roy Pomeroy,Wings
21,1927,1928,OUTSTANDING PICTURE,Paramount Famous Lasky,Wings
22,1927,1928,UNIQUE AND ARTISTIC PICTURE,Fox,Sunrise

In [516]:
# Check number of unique Oscar awards.
unique_oscar_award = clean_oscar_winners_df['Award'].unique()
print(award_oscar)
print(len(award_oscar))

['ACTOR' 'ACTRESS' 'ART DIRECTION' 'CINEMATOGRAPHY'
 'DIRECTING (Comedy Picture)' 'DIRECTING (Dramatic Picture)'
 'ENGINEERING EFFECTS' 'OUTSTANDING PICTURE' 'UNIQUE AND ARTISTIC PICTURE'
 'WRITING (Adaptation)' 'WRITING (Original Story)' 'DIRECTING' 'WRITING'
 'OUTSTANDING PRODUCTION' 'SOUND RECORDING' 'SHORT SUBJECT (Cartoon)'
 'SHORT SUBJECT (Comedy)' 'SHORT SUBJECT (Novelty)' 'ASSISTANT DIRECTOR'
 'FILM EDITING' 'MUSIC (Scoring)' 'MUSIC (Song)' 'DANCE DIRECTION'
 'WRITING (Screenplay)' 'ACTOR IN A SUPPORTING ROLE'
 'ACTRESS IN A SUPPORTING ROLE' 'SHORT SUBJECT (Color)'
 'SHORT SUBJECT (One-reel)' 'SHORT SUBJECT (Two-reel)'
 'MUSIC (Original Score)' 'CINEMATOGRAPHY (Black-and-White)'
 'CINEMATOGRAPHY (Color)' 'SPECIAL EFFECTS'
 'ART DIRECTION (Black-and-White)' 'ART DIRECTION (Color)'
 'WRITING (Original Screenplay)' 'DOCUMENTARY (Short Subject)'
 'MUSIC (Music Score of a Dramatic Picture)'
 'MUSIC (Scoring of a Musical Picture)' 'OUTSTANDING MOTION PICTURE'
 'DOCUMENTARY' 'MUSIC (Music Score of a Dramatic or Comedy Picture)'
 'WRITING (Original Motion Picture Story)' 'DOCUMENTARY (Feature)'
 'BEST MOTION PICTURE' 'WRITING (Motion Picture Story)'
 'COSTUME DESIGN (Black-and-White)' 'COSTUME DESIGN (Color)'
 'WRITING (Story and Screenplay)' 'FOREIGN LANGUAGE FILM'
 'WRITING (Screenplay--Adapted)' 'WRITING (Screenplay--Original)'
 'COSTUME DESIGN' 'SHORT SUBJECT (Live Action)'
 'WRITING (Screenplay--based on material from another medium)'
 'WRITING (Story and Screenplay--written directly for the screen)' 'SOUND'
 'MUSIC (Music Score--substantially original)'
 'MUSIC (Scoring of Music--adaptation or treatment)' 'BEST PICTURE'
 'SOUND EFFECTS' 'SPECIAL VISUAL EFFECTS' 'MUSIC (Original Music Score)'
 'MUSIC (Original Score--for a motion picture [not a musical])'
 'MUSIC (Score of a Musical Picture--original or adaptation)'
 'MUSIC (Song--Original for the Picture)'
 'WRITING (Story and Screenplay--based on material not previously published or produced)'
 'MUSIC (Original Song Score)'
 'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)'
 'MUSIC (Original Dramatic Score)'
 'MUSIC (Scoring: Adaptation and Original Song Score)'
 'SHORT SUBJECT (Animated)' 'SPECIAL ACHIEVEMENT AWARD (Visual Effects)'
 'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)'
 'SHORT FILM (Animated)' 'SHORT FILM (Live Action)'
 'WRITING (Screenplay Adapted from Other Material)'
 'MUSIC (Original Song)' 'SPECIAL ACHIEVEMENT AWARD (Sound Effects)'
 'ACTOR IN A LEADING ROLE' 'ACTRESS IN A LEADING ROLE'
 'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)'
 'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)'
 'VISUAL EFFECTS' 'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)'
 'MUSIC (Adaptation Score)'
 'WRITING (Screenplay Based on Material from Another Medium)'
 'WRITING (Screenplay Written Directly for the Screen)'
 'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)'
 'SPECIAL ACHIEVEMENT AWARD (Sound Editing)'
 'SHORT FILM (Dramatic Live Action)' 'MAKEUP' 'SOUND EFFECTS EDITING'
 'MUSIC (Original Song Score or Adaptation Score)'
 'WRITING (Screenplay Based on Material Previously Produced or Published)'
 'MUSIC (Original Musical or Comedy Score)' 'SOUND EDITING'
 'ANIMATED FEATURE FILM' 'WRITING (Adapted Screenplay)' 'SOUND MIXING'
 'MAKEUP AND HAIRSTYLING' 'PRODUCTION DESIGN' 'INTERNATIONAL FEATURE FILM'
 'DOCUMENTARY FEATURE FILM' 'DOCUMENTARY SHORT FILM'
 'AWARD OF COMMENDATION']
106

In [517]:
# Define ID's for each unique award
oscar_award_ids = [
    'OWA0001', 'OWA0002', 'OWA0003', 'OWA0004', 'OWA0005', 'OWA0006', 'OWA0007', 'OWA0008', 'OWA0009', 'OWA0010','OWA0011', 'OWA0012', 'OWA0013', 'OWA0014', 'OWA0015', 'OWA0016', 'OWA0017', 'OWA0018', 'OWA0019', 'OWA0020', 'OWA0021', 'OWA0022', 'OWA0023',
    'OWA0024', 'OWA0025', 'OWA0026', 'OWA0027', 'OWA0028', 'OWA0029', 'OWA0030', 'OWA0031', 'OWA0032', 'OWA0033', 'OWA0034', 'OWA0035', 'OWA0036', 'OWA0037', 'OWA0038', 'OWA0039', 'OWA0040', 'OWA0041', 'OWA0042', 'OWA0043', 'OWA0044', 'OWA0045', 'OWA0046', 
    'OWA0047','OWA0048', 'OWA0049', 'OWA0050', 'OWA0051', 'OWA0052', 'OWA0053', 'OWA0054', 'OWA0055', 'OWA0056', 'OWA0057', 'OWA0058', 'OWA0059', 'OWA0060', 'OWA0061', 'OWA0062', 'OWA0063', 'OWA0064', 'OWA0065', 'OWA0066', 'OWA0067', 'OWA0068', 'OWA0069',
    'OWA0070', 'OWA0071', 'OWA0072', 'OWA0073', 'OWA0074', 'OWA0075', 'OWA0076', 'OWA0077', 'OWA0078', 'OWA0079', 'OWA0080', 'OWA0081', 'OWA0082', 'OWA0083', 'OWA0084', 'OWA0085', 'OWA0086', 'OWA0087', 'OWA0088', 'OWA0089', 'OWA0090', 'OWA0091', 'OWA0092', 
    'OWA0093', 'OWA0094', 'OWA0095', 'OWA0096', 'OWA0097', 'OWA0098', 'OWA0099', 'OWA0100', 'OWA0101', 'OWA0102', 'OWA0103', 'OWA0104', 'OWA0105', 'OWA0106']

# Create a dictionary to map awards to their IDs
award_id_mapping = dict(zip(unique_oscar_award, oscar_award_ids))

# Add a new column with award IDs to the DataFrame
clean_oscar_winners_df['Oscar Award ID'] = clean_oscar_winners_df['Award'].map(award_id_mapping)

# Display the updated DataFrame
clean_oscar_winners_df

,Year Film,Year Ceremony,Award,Name of Winner,Movie Name,Oscar Award ID
1,1927,1928,ACTOR,Emil Jannings,The Last Command,OWA0001
3,1927,1928,ACTRESS,Janet Gaynor,7th Heaven,OWA0002
6,1927,1928,ART DIRECTION,William Cameron Menzies,The Dove;,OWA0003
9,1927,1928,CINEMATOGRAPHY,Charles Rosher,Sunrise,OWA0004
10,1927,1928,CINEMATOGRAPHY,Karl Struss,Sunrise,OWA0004
...,...,...,...,...,...,...
10864,2023,2024,SHORT FILM (Live Action),Wes Anderson and Steven Rales,The Wonderful Story of Henry Sugar,OWA0076
10869,2023,2024,SOUND,Tarn Willers and Johnnie Burn,The Zone of Interest,OWA0057
10871,2023,2024,VISUAL EFFECTS,"Takashi Yamazaki, Kiyoko Shibuya, Masaki Takah...",Godzilla Minus One,OWA0084
10875,2023,2024,WRITING (Adapted Screenplay),Written for the screen by Cord Jefferson,American Fiction,OWA0099
10880,2023,2024,WRITING (Original Screenplay),Screenplay - Justine Triet and Arthur Harari,Anatomy of a Fall,OWA0036

In [518]:
# Export list of Oscar Winners as CSV files.
clean_oscar_winners_df.to_csv("CleanData/oscar_winners.csv", index=False)

In [519]:
# Create a Golden Globe Awards DataFrame with the award_id array as the GG_award_id and awards list as the award category.
# Drop unwanted columns 
columns_to_drop = ['Year Film', 'Year Ceremony', 'Name of Winner', 'Movie Name']
oscar_award_id_df = clean_oscar_winners_df.drop(columns=columns_to_drop)

# Drop duplicate rows
clean_oscar_award_id_df = oscar_award_id_df.drop_duplicates(subset=['Award', 'Oscar Award ID'])
clean_oscar_award_id_df

                            Award Oscar Award ID
1                           ACTOR        OWA0001
3                         ACTRESS        OWA0002
6                   ART DIRECTION        OWA0003
9                  CINEMATOGRAPHY        OWA0004
11     DIRECTING (Comedy Picture)        OWA0005
...                           ...            ...
9474            PRODUCTION DESIGN        OWA0102
10326  INTERNATIONAL FEATURE FILM        OWA0103
10683    DOCUMENTARY FEATURE FILM        OWA0104
10684      DOCUMENTARY SHORT FILM        OWA0105
10764       AWARD OF COMMENDATION        OWA0106

[106 rows x 2 columns]

In [520]:
# Remove the index column
df_without_index = clean_oscar_award_id_df.reset_index(drop=True)

# Reorder the columns 
columns_order = ['Oscar Award ID', 'Award']
OscarID_df = df_without_index[columns_order]

# Display the updated DataFrame
OscarID_df

    Oscar Award ID                       Award
0          OWA0001                       ACTOR
1          OWA0002                     ACTRESS
2          OWA0003               ART DIRECTION
3          OWA0004              CINEMATOGRAPHY
4          OWA0005  DIRECTING (Comedy Picture)
..             ...                         ...
101        OWA0102           PRODUCTION DESIGN
102        OWA0103  INTERNATIONAL FEATURE FILM
103        OWA0104    DOCUMENTARY FEATURE FILM
104        OWA0105      DOCUMENTARY SHORT FILM
105        OWA0106       AWARD OF COMMENDATION

[106 rows x 2 columns]

In [521]:
# Export list of Oscar Winners as CSV files.
OscarID_df.to_csv("CleanData/Oscar_AwardID.csv", index=False)