## Download as necessary
pip install pandera

In [83]:
# Dependencies
import pandas as pd
import pandera as pa

In [117]:
# Pull in IMDB Movie Data into a dataframe
imdb_movie_data = pd.read_csv('Raw Data/imdb_movie_data_2023.csv')

imdb_movie_data.head(10)

,Unnamed: 0,Moive Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes
5,5,The Hunger Games: The Ballad of Songbirds & S...,7.1,56000.0,54.0,"Action, Adventure, Drama",PG-13,2023,2h 37m,"Rachel Zegler, Tom Blyth, Viola Davis, Dexter ...",Francis Lawrence
6,6,Napoleon,6.6,66000.0,64.0,"Action, Adventure, Biography",R,2023,2h 38m,"Joaquin Phoenix, Vanessa Kirby, Tahar Rahim, R...",Ridley Scott
7,7,Oppenheimer,8.4,553000.0,89.0,"Biography, Drama, History",R,2023,3h,"Cillian Murphy, Emily Blunt, Matt Damon, Rober...",Christopher Nolan
8,8,Love Actually,7.6,517000.0,55.0,"Comedy, Drama, Romance",R,2003,2h 15m,"Hugh Grant, Martine McCutcheon, Liam Neeson, L...",Richard Curtis
9,9,Candy Cane Lane,5.6,13000.0,47.0,"Comedy, Family, Fantasy",PG,2023,1h 57m,"Eddie Murphy, Tracee Ellis Ross, Jillian Bell,...",Reginald Hudlin

In [127]:
# Define the schema
schema = pa.DataFrameSchema({
    "Movie Name": pa.Column(pa.String, nullable=False),
    "Rating": pa.Column(pa.Float, nullable=False),
    "Votes": pa.Column(pa.Float, nullable=False),
    "Meta Score": pa.Column(pa.Float, nullable=False),
    "Genre": pa.Column(pa.String, nullable=False),
    "PG Rating": pa.Column(pa.String, nullable=False),
    "Year": pa.Column(pa.Int, nullable=False),
    "Duration": pa.Column(pa.String, nullable=False),
    "Cast": pa.Column(pa.String, nullable=False),
    "Director": pa.Column(pa.String, nullable=False),
})

# Print the schema
print(schema)

<Schema DataFrameSchema(
    columns={
        'Movie Name': <Schema Column(name=Movie Name, type=DataType(str))>
        'Rating': <Schema Column(name=Rating, type=DataType(float64))>
        'Votes': <Schema Column(name=Votes, type=DataType(float64))>
        'Meta Score': <Schema Column(name=Meta Score, type=DataType(float64))>
        'Genre': <Schema Column(name=Genre, type=DataType(str))>
        'PG Rating': <Schema Column(name=PG Rating, type=DataType(str))>
        'Year': <Schema Column(name=Year, type=DataType(int64))>
        'Duration': <Schema Column(name=Duration, type=DataType(str))>
        'Cast': <Schema Column(name=Cast, type=DataType(str))>
        'Director': <Schema Column(name=Director, type=DataType(str))>
    },
    checks=[],
    coerce=False,
    dtype=None,
    index=None,
    strict=False,
    name=None,
    ordered=False,
    unique_column_names=False,
    metadata=None,
    add_missing_columns=False
)>

In [128]:
# Check data set for errors
schema.validate(imdb_movie_data)

,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes
...,...,...,...,...,...,...,...,...,...,...
1944,Annette,6.3,22000.0,67.0,"Drama, Musical, Romance",R,2021,2h 21m,"Adam Driver, Marion Cotillard, Simon Helberg, ...",Leos Carax
1945,"Definitely, Maybe",7.1,172000.0,59.0,"Comedy, Drama, Romance",PG-13,2008,1h 52m,"Ryan Reynolds, Rachel Weisz, Abigail Breslin, ...",Adam Brooks
1946,The Fly,7.6,198000.0,79.0,"Drama, Horror, Sci-Fi",R,1986,1h 36m,"Jeff Goldblum, Geena Davis, John Getz, Joy Bou...",David Cronenberg
1947,The Mighty Ducks,6.5,71000.0,46.0,"Comedy, Drama, Family",PG,1992,1h 44m,"Emilio Estevez, Joss Ackland, Lane Smith, Heid...",Stephen Herek
1949,American Made,7.1,203000.0,65.0,"Action, Comedy, Crime",R,2017,1h 55m,"Tom Cruise, Domhnall Gleeson, Sarah Wright, Je...",Doug Liman

In [129]:
# Correct spelling on Movie Name column 
imdb_movie_data.rename(columns={'Moive Name': 'Movie Name'}, inplace=True)
imdb_movie_data.head()

,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes

In [91]:
# Check data set for errors
schema.validate(imdb_movie_data)

SchemaError: non-nullable series 'Rating' contains null values:
22     NaN
47     NaN
49     NaN
76     NaN
577    NaN
1671   NaN
Name: Rating, dtype: float64

In [130]:
# Check for null values
imdb_movie_data.info()

# Remove rows with null values
imdb_movie_data = imdb_movie_data.dropna()

imdb_movie_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1784 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie Name  1784 non-null   object
 1   Rating      1784 non-null   float64
 2   Votes       1784 non-null   float64
 3   Meta Score  1784 non-null   float64
 4   Genre       1784 non-null   object
 5   PG Rating   1784 non-null   object
 6   Year        1784 non-null   int64
 7   Duration    1784 non-null   object
 8   Cast        1784 non-null   object
 9   Director    1784 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 153.3+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1784 entries, 0 to 1949
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Movie Name  1784 non-null   object
 1   Rating      1784 non-null   float64
 2   Votes       1784 non-null   float64
 3   Meta Score  1784 non-null   float64
 4   Genre       1784 non-null   object
 5   PG Rating   1784 non-null   object
 6   Year        1784 non-null   int64
 7   Duration    1784 non-null   object
 8   Cast        1784 non-null   object
 9   Director    1784 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 153.3+ KB

In [131]:
# Check data set for errors
schema.validate(imdb_movie_data)

,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes
...,...,...,...,...,...,...,...,...,...,...
1944,Annette,6.3,22000.0,67.0,"Drama, Musical, Romance",R,2021,2h 21m,"Adam Driver, Marion Cotillard, Simon Helberg, ...",Leos Carax
1945,"Definitely, Maybe",7.1,172000.0,59.0,"Comedy, Drama, Romance",PG-13,2008,1h 52m,"Ryan Reynolds, Rachel Weisz, Abigail Breslin, ...",Adam Brooks
1946,The Fly,7.6,198000.0,79.0,"Drama, Horror, Sci-Fi",R,1986,1h 36m,"Jeff Goldblum, Geena Davis, John Getz, Joy Bou...",David Cronenberg
1947,The Mighty Ducks,6.5,71000.0,46.0,"Comedy, Drama, Family",PG,1992,1h 44m,"Emilio Estevez, Joss Ackland, Lane Smith, Heid...",Stephen Herek
1949,American Made,7.1,203000.0,65.0,"Action, Comedy, Crime",R,2017,1h 55m,"Tom Cruise, Domhnall Gleeson, Sarah Wright, Je...",Doug Liman

In [132]:
# Remove "Unnamed: 0" column
imdb_movie_data = imdb_movie_data.drop(columns=['Unnamed: 0'])

# Possibly drop the 3 IMDB scoring columns

KeyError: "['Unnamed: 0'] not found in axis"

In [113]:
# Check data set for errors
schema.validate(imdb_movie_data)

,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes
...,...,...,...,...,...,...,...,...,...,...
1944,Annette,6.3,22000.0,67.0,"Drama, Musical, Romance",R,2021,2h 21m,"Adam Driver, Marion Cotillard, Simon Helberg, ...",Leos Carax
1945,"Definitely, Maybe",7.1,172000.0,59.0,"Comedy, Drama, Romance",PG-13,2008,1h 52m,"Ryan Reynolds, Rachel Weisz, Abigail Breslin, ...",Adam Brooks
1946,The Fly,7.6,198000.0,79.0,"Drama, Horror, Sci-Fi",R,1986,1h 36m,"Jeff Goldblum, Geena Davis, John Getz, Joy Bou...",David Cronenberg
1947,The Mighty Ducks,6.5,71000.0,46.0,"Comedy, Drama, Family",PG,1992,1h 44m,"Emilio Estevez, Joss Ackland, Lane Smith, Heid...",Stephen Herek
1949,American Made,7.1,203000.0,65.0,"Action, Comedy, Crime",R,2017,1h 55m,"Tom Cruise, Domhnall Gleeson, Sarah Wright, Je...",Doug Liman

In [133]:
# Reset index
validated_df = imdb_movie_data.reset_index(drop=True)
schema.validate(validated_df)

,Movie Name,Rating,Votes,Meta Score,Genre,PG Rating,Year,Duration,Cast,Director
0,Leave the World Behind,6.5,90000.0,67.0,"Drama, Mystery, Thriller",R,2023,2h 18m,"Julia Roberts, Mahershala Ali, Ethan Hawke, My...",Sam Esmail
1,Wonka,7.4,24000.0,66.0,"Adventure, Comedy, Family",PG,2023,1h 56m,"Timothée Chalamet, Gustave Die, Murray McArthu...",Paul King
2,Poor Things,8.5,6700.0,86.0,"Comedy, Drama, Romance",R,2023,2h 21m,"Emma Stone, Mark Ruffalo, Willem Dafoe, Ramy Y...",Yorgos Lanthimos
3,Killers of the Flower Moon,7.8,128000.0,89.0,"Crime, Drama, History",R,2023,3h 26m,"Leonardo DiCaprio, Robert De Niro, Lily Gladst...",Martin Scorsese
4,May December,7.0,21000.0,85.0,"Comedy, Drama",R,2023,1h 57m,"Natalie Portman, Chris Tenzis, Charles Melton,...",Todd Haynes
...,...,...,...,...,...,...,...,...,...,...
1779,Annette,6.3,22000.0,67.0,"Drama, Musical, Romance",R,2021,2h 21m,"Adam Driver, Marion Cotillard, Simon Helberg, ...",Leos Carax
1780,"Definitely, Maybe",7.1,172000.0,59.0,"Comedy, Drama, Romance",PG-13,2008,1h 52m,"Ryan Reynolds, Rachel Weisz, Abigail Breslin, ...",Adam Brooks
1781,The Fly,7.6,198000.0,79.0,"Drama, Horror, Sci-Fi",R,1986,1h 36m,"Jeff Goldblum, Geena Davis, John Getz, Joy Bou...",David Cronenberg
1782,The Mighty Ducks,6.5,71000.0,46.0,"Comedy, Drama, Family",PG,1992,1h 44m,"Emilio Estevez, Joss Ackland, Lane Smith, Heid...",Stephen Herek
1783,American Made,7.1,203000.0,65.0,"Action, Comedy, Crime",R,2017,1h 55m,"Tom Cruise, Domhnall Gleeson, Sarah Wright, Je...",Doug Liman

In [151]:
# Creating the Actors dataframe for the SQL database
# Split actor names into actors dataframe
actor_names = validated_df['Cast'].str.split(', ', expand=True).stack().reset_index(drop=True)

# Create a new DataFrame with actor names and actor ID
actors_df = pd.DataFrame(actor_names, columns=['Actor'])

# Remove any Duplicate actor names
actors_df.drop_duplicates(subset='Actor', keep='first', inplace=True)
actors_df.reset_index(drop=True, inplace=True)

# Add an ID for the actors
actors_df['Actor ID'] = range(1, len(actors_df) + 1)

actors_df.head(10)

# Save off file for import to postgres database
actors_df.to_csv("Clean Data/Actors.csv")

In [147]:
# Creating the Movies dataframe for the SQL database
movies_df = validated_df.drop(columns=['Cast', 'Director','Genre'])

# Remove any Duplicate actor names
movies_df.drop_duplicates(subset='Movie Name', keep='first', inplace=True)
movies_df.reset_index(drop=True, inplace=True)

# Add an ID for the actors
movies_df['Movie ID'] = range(1, len(movies_df) + 1)

# Save off file for import to postgres database
movies_df.to_csv("Clean Data/Movies.csv")

In [145]:
# Creating the Genres dataframe for the SQL database
# Split actor names into actors dataframe
Genre_names = validated_df['Genre'].str.split(', ', expand=True).stack().reset_index(drop=True)

# Create a new DataFrame with genre names and genre ID
Genre_df = pd.DataFrame(Genre_names, columns=['Genre'])

# Remove any duplicate genre names
Genre_df.drop_duplicates(subset='Genre', keep='first', inplace=True)
Genre_df.reset_index(drop=True, inplace=True)

# Add an ID for the genres
Genre_df['Genre ID'] = range(1, len(Genre_df) + 1)

# Save off file for import to postgres database
Genre_df.to_csv("Clean Data/Genres.csv")

In [154]:
# Creating the Actors dataframe for the SQL database
# Split actor names into actors dataframe
director_names = validated_df['Director'].str.split(', ', expand=True).stack().reset_index(drop=True)

# Create a new DataFrame with actor names and actor ID
directors_df = pd.DataFrame(director_names, columns=['Director'])

# Remove any Duplicate actor names
directors_df.drop_duplicates(subset='Director', keep='first', inplace=True)
directors_df.reset_index(drop=True, inplace=True)

# Add an ID for the actors
directors_df['Director ID'] = range(1, len(directors_df) + 1)

# Add my own row due to data inconsistencies
new_row1 = {'Director': 'Robert Marianetti'}
new_row2 = {'Director': 'Robert Smigel'}
new_row3 = {'Director': 'David Wachtenheim'}
new_row4 = {'Director': 'Yarrow Cheney'}
new_row5 = {'Director': 'Scott Mosier'}
new_row6 = {'Director': 'Aaron Horvath'}
new_row7 = {'Director': 'Michael Jelenic'}
new_row8 = {'Director': 'Pierre Leduc'}
new_row9 = {'Director': 'Chris Buck'}
new_row10 = {'Director': 'Fawn Veerasunthorn'}
new_row11 = {'Director': 'Walt Dohrn'}
new_row12 = {'Director': 'Tim Heitz'}
new_row13 = {'Director': 'Joaquim Dos Santos'}
new_row14 = {'Director': 'Kemp Powers'}
new_row15 = {'Director': 'Justin K. Thompson'}
new_row16 = {'Director': 'Fawn Veerasunthorn'}
new_row17 = {'Director': 'Fawn Veerasunthorn'}

# Save off file for import to postgres database
directors_df.to_csv("Clean Data/Directors.csv")

In [153]:
directors_df.head(25)

                                           Director  Director ID
0                                        Sam Esmail            1
1                                         Paul King            2
2                                  Yorgos Lanthimos            3
3                                   Martin Scorsese            4
4                                       Todd Haynes            5
5                                  Francis Lawrence            6
6                                      Ridley Scott            7
7                                 Christopher Nolan            8
8                                    Richard Curtis            9
9                                   Reginald Hudlin           10
10                                  Emerald Fennell           11
11                                     Greta Gerwig           12
12                              Jeremiah S. Chechik           13
13                                      Zack Snyder           14
14                               Simon Cellan Jones           15
15                                  Alexander Payne           16
16                                              McG           17
17                                    James Mangold           18
18                                      Jon Favreau           19
19                                       Ron Howard           20
20                                   Bradley Cooper           21
21                                       Randy Zisk           22
22  Robert MarianettiRobert SmigelDavid Wachtenheim           23
23                                   Gareth Edwards           24
24                        Yarrow CheneyScott Mosier           25

In [146]:
Genre_df.head(10)

       Genre  Genre ID
0      Drama         1
1    Mystery         2
2   Thriller         3
3  Adventure         4
4     Comedy         5
5     Family         6
6    Romance         7
7      Crime         8
8    History         9
9     Action        10

In [149]:
movies_df.head(10)

,Movie Name,Rating,Votes,Meta Score,PG Rating,Year,Duration,Movie ID
0,Leave the World Behind,6.5,90000.0,67.0,R,2023,2h 18m,1
1,Wonka,7.4,24000.0,66.0,PG,2023,1h 56m,2
2,Poor Things,8.5,6700.0,86.0,R,2023,2h 21m,3
3,Killers of the Flower Moon,7.8,128000.0,89.0,R,2023,3h 26m,4
4,May December,7.0,21000.0,85.0,R,2023,1h 57m,5
5,The Hunger Games: The Ballad of Songbirds & S...,7.1,56000.0,54.0,PG-13,2023,2h 37m,6
6,Napoleon,6.6,66000.0,64.0,R,2023,2h 38m,7
7,Oppenheimer,8.4,553000.0,89.0,R,2023,3h,8
8,Love Actually,7.6,517000.0,55.0,R,2003,2h 15m,9
9,Candy Cane Lane,5.6,13000.0,47.0,PG,2023,1h 57m,10

In [150]:
actors_df.head(10)

          Actor Name  Actor ID
0      Julia Roberts         1
1     Mahershala Ali         2
2        Ethan Hawke         3
3            Myha'la         4
4  Timothée Chalamet         5
5        Gustave Die         6
6    Murray McArthur         7
7    Paul G. Raymond         8
8         Emma Stone         9
9       Mark Ruffalo        10