In [2]:
import pandas as pd
import numpy as np

In [3]:
# Creata Data to compare Oscar & Golden Globe Winners

oscar_winners = pd.read_csv('CleanData/Oscar_Winners.csv', encoding='utf-8')
goldenglobe_winners = pd.read_csv('CleanData/Golden_Globe_Winners.csv', encoding='utf-8')


# Merge the datasets on specified columns
awards_data_df = pd.merge(oscar_winners, goldenglobe_winners, how='outer', on=["Movie Name"] )

# Display the merged DataFrame
awards_data_df.head(5)

,Oscar Winner ID,Winner_x,Award,Oscar Award ID,Movie Name,Year Ceremony_x,Year Film,Golden Globe Winner ID,Winner_y,Year Ceremony_y,Golden Globe Award,GG Award ID
0,1.0,Emil Jannings,ACTOR,OWA0001,The Last Command,1928.0,1927.0,NaN,NaN,NaN,NaN,NaN
1,2.0,Janet Gaynor,ACTRESS,OWA0002,7th Heaven,1928.0,1927.0,NaN,NaN,NaN,NaN,NaN
2,7.0,Frank Borzage,DIRECTING (Dramatic Picture),OWA0006,7th Heaven,1928.0,1927.0,NaN,NaN,NaN,NaN,NaN
3,11.0,Benjamin Glazer,WRITING (Adaptation),OWA0010,7th Heaven,1928.0,1927.0,NaN,NaN,NaN,NaN,NaN
4,3.0,William Cameron Menzies,ART DIRECTION,OWA0003,The Dove;,1928.0,1927.0,NaN,NaN,NaN,NaN,NaN

In [4]:
# Drop unwanted columns 
columns_to_drop = ['Oscar Winner ID', 'Oscar Award ID', 'Year Film', 'Golden Globe Winner ID', 'GG Award ID']
oscar_goldenglobe_df = awards_data_df.drop(columns=columns_to_drop)

# Rename columns
oscar_goldenglobe_df.rename(columns={'Winner_x': 'Oscar Winner', 'Award': 'Oscar Award', 'Year Ceremony_x': 'Year Ceremony', 'Winner_y': 'GG Winer', 'Year Ceremony_y': 'Year'}, inplace=True)

# Display the updated DataFrame
oscar_goldenglobe_df.head(5)

,Oscar Winner,Oscar Award,Movie Name,Year Ceremony,GG Winer,Year,Golden Globe Award
0,Emil Jannings,ACTOR,The Last Command,1928.0,NaN,NaN,NaN
1,Janet Gaynor,ACTRESS,7th Heaven,1928.0,NaN,NaN,NaN
2,Frank Borzage,DIRECTING (Dramatic Picture),7th Heaven,1928.0,NaN,NaN,NaN
3,Benjamin Glazer,WRITING (Adaptation),7th Heaven,1928.0,NaN,NaN,NaN
4,William Cameron Menzies,ART DIRECTION,The Dove;,1928.0,NaN,NaN,NaN

In [5]:
# Remove the index column
df_without_index = oscar_goldenglobe_df.reset_index(drop=True)

# Reorder the columns 
columns_order = ['Movie Name', 'Year Ceremony', 'Oscar Award', 'Oscar Winner', 'Year', 'Golden Globe Award', 'GG Winer']
new_oscar_goldenglobe_df = df_without_index[columns_order]

# Convert columns to integers
columns_to_convert = ['Year Ceremony', 'Year',]
new_oscar_goldenglobe_df [columns_to_convert] = new_oscar_goldenglobe_df [columns_to_convert].fillna(0).astype(int)
new_oscar_goldenglobe_df.head(5)

,Movie Name,Year Ceremony,Oscar Award,Oscar Winner,Year,Golden Globe Award,GG Winer
0,The Last Command,1928,ACTOR,Emil Jannings,0,NaN,NaN
1,7th Heaven,1928,ACTRESS,Janet Gaynor,0,NaN,NaN
2,7th Heaven,1928,DIRECTING (Dramatic Picture),Frank Borzage,0,NaN,NaN
3,7th Heaven,1928,WRITING (Adaptation),Benjamin Glazer,0,NaN,NaN
4,The Dove;,1928,ART DIRECTION,William Cameron Menzies,0,NaN,NaN

In [6]:
print(len(new_oscar_goldenglobe_df))

3312

In [7]:
unique_movies = new_oscar_goldenglobe_df['Movie Name'].unique()
print(unique_movies)
print(len(unique_movies))

['The Last Command' '7th Heaven' 'The Dove;' ... 'The Last Chance'
 'A Medal For Benny' 'The House I Live In']
1760

In [9]:
best_picture_movies = new_oscar_goldenglobe_df[
    (new_oscar_goldenglobe_df['Oscar Award'] == 'BEST PICTURE') &
    ((new_oscar_goldenglobe_df['Golden Globe Award'] == 'Best Motion Picture - Drama') |
    (new_oscar_goldenglobe_df['Golden Globe Award'] == 'Best Motion Picture - Musical or Comedy'))
]
best_picture_movies.head(20)

,Movie Name,Year Ceremony,Oscar Award,Oscar Winner,Year,Golden Globe Award,GG Winer
590,Titanic,1998,BEST PICTURE,"James Cameron and Jon Landau, Producers",1998,Best Motion Picture - Drama,Titanic
936,Tom Jones,1964,BEST PICTURE,"Tony Richardson, Producer",1964,Best Motion Picture - Musical or Comedy,Tom Jones
1008,The Sound of Music,1966,BEST PICTURE,"Robert Wise, Producer",1966,Best Motion Picture - Musical or Comedy,"Sound of Music, The"
1033,A Man for All Seasons,1967,BEST PICTURE,"Fred Zinnemann, Producer",1967,Best Motion Picture - Drama,"Man for All Seasons, A"
1063,In the Heat of the Night,1968,BEST PICTURE,"Walter Mirisch, Producer",1968,Best Motion Picture - Drama,In the Heat of the Night
1112,Oliver!,1969,BEST PICTURE,"John Woolf, Producer",1969,Best Motion Picture - Musical or Comedy,Oliver!
1215,The Godfather,1973,BEST PICTURE,"Albert S. Ruddy, Producer",1973,Best Motion Picture - Drama,"Godfather, The"
1358,Rocky,1977,BEST PICTURE,"Irwin Winkler and Robert Chartoff, Producers",1977,Best Motion Picture - Drama,Rocky
1432,Kramer vs. Kramer,1980,BEST PICTURE,"Stanley R. Jaffe, Producer",1980,Best Motion Picture - Drama,Kramer vs. Kramer
1467,Ordinary People,1981,BEST PICTURE,"Ronald L. Schwary, Producer",1981,Best Motion Picture - Drama,Ordinary People
1585,Terms of Endearment,1984,BEST PICTURE,"James L. Brooks, Producer",1984,Best Motion Picture - Drama,Terms of Endearment
1624,Amadeus,1985,BEST PICTURE,"Saul Zaentz, Producer",1985,Best Motion Picture - Drama,Amadeus
1669,Out of Africa,1986,BEST PICTURE,"Sydney Pollack, Producer",1986,Best Motion Picture - Drama,Out of Africa
1699,Platoon,1987,BEST PICTURE,"Arnold Kopelson, Producer",1987,Best Motion Picture - Drama,Platoon
1743,The Last Emperor,1988,BEST PICTURE,"Jeremy Thomas, Producer",1988,Best Motion Picture - Drama,"Last Emperor, The"
1768,Rain Man,1989,BEST PICTURE,"Mark Johnson, Producer",1989,Best Motion Picture - Drama,Rain Man
1802,Driving Miss Daisy,1990,BEST PICTURE,"Richard D. Zanuck and Lili Fini Zanuck, Producers",1990,Best Motion Picture - Musical or Comedy,Driving Miss Daisy
1911,Schindler's List,1994,BEST PICTURE,"Steven Spielberg, Gerald R. Molen and Branko L...",1994,Best Motion Picture - Drama,Schindler's List
1930,Forrest Gump,1995,BEST PICTURE,"Wendy Finerman, Steve Tisch and Steve Starkey,...",1995,Best Motion Picture - Drama,Forrest Gump
2039,Shakespeare in Love,1999,BEST PICTURE,"David Parfitt, Donna Gigliotti, Harvey Weinste...",1999,Best Motion Picture - Musical or Comedy,Shakespeare in Love

In [10]:
# Export list of Oscar Winners as CSV files.
new_oscar_goldenglobe_df.to_csv("CleanData/Only_Oscar_GG_Award_Movies.csv", index=False)