In [2]:
import pandas as pd
import numpy as np

In [10]:
# Files to use
movies_data = pd.read_csv('Resources/movies.csv', encoding='utf-8')
oscar_winners = pd.read_csv('CleanData/Oscar_Winners.csv', encoding='utf-8')
goldenglobe_winners = pd.read_csv('CleanData/GoldenGlobe_Winners.csv', encoding='utf-8')

# Combine the data into a single DataFrame
combine_data_df = pd.merge(movies_data, oscar_winners, how='outer', on=["Movie_Name", "Movie_Name"])
complete_data_df = pd.merge(combine_data_df, goldenglobe_winners, how='outer', on=["Movie_Name", "Movie_Name"])

complete_data_df.head(10)

,Unnamed: 0,Movie_Name,Rating,Votes,Meta_score,PG_Rating,Year,Duration,Director,Movie_ID,...,Winner_x,Award,Oscar_Award_ID,Year_Ceremony_x,Year_Film,Golden_Globe_Winner_ID,Winner_y,Year_Ceremony_y,Golden_Globe_Award,GG_Award_ID
0,0.0,Leave the World Behind,6.5,90000.0,67.0,R,2023.0,2h 18m,Sam Esmail,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Wonka,7.4,24000.0,66.0,PG,2023.0,1h 56m,Paul King,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Paddington 2,7.8,90000.0,88.0,PG,2017.0,1h 43m,Paul King,665.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Paddington,7.3,129000.0,77.0,PG,2014.0,1h 35m,Paul King,717.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,Poor Things,8.5,6700.0,86.0,R,2023.0,2h 21m,Yorgos Lanthimos,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,The Favourite,7.5,216000.0,91.0,R,2018.0,1h 59m,Yorgos Lanthimos,144.0,...,Olivia Colman,ACTRESS IN A LEADING ROLE,OWA0081,2019.0,2018.0,58.0,Olivia Colman,2019.0,Best Performance by an Actress in a Motion Pic...,GG005
6,6.0,The Killing of a Sacred Deer,7.0,174000.0,73.0,R,2017.0,2h 1m,Yorgos Lanthimos,181.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7.0,The Lobster,7.1,281000.0,82.0,R,2015.0,1h 59m,Yorgos Lanthimos,281.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8.0,Killers of the Flower Moon,7.8,128000.0,89.0,R,2023.0,3h 26m,Martin Scorsese,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.0,The Wolf of Wall Street,8.2,1500000.0,75.0,R,2013.0,3h,Martin Scorsese,77.0,...,NaN,NaN,NaN,NaN,NaN,111.0,Leonardo DiCaprio,2014.0,Best Performance by an Actor in a Motion Pictu...,GG006

In [11]:
# Columns name info
complete_data_df.columns

Index(['Unnamed: 0', 'Movie_Name', 'Rating', 'Votes', 'Meta_score',
       'PG_Rating', 'Year', 'Duration', 'Director', 'Movie_ID', 'Director_ID',
       'Oscar_Winner_ID', 'Winner_x', 'Award', 'Oscar_Award_ID',
       'Year_Ceremony_x', 'Year_Film', 'Golden_Globe_Winner_ID', 'Winner_y',
       'Year_Ceremony_y', 'Golden_Globe_Award', 'GG_Award_ID'],
      dtype='object')

In [13]:
# Drop unwanted columns 
columns_to_drop = ['Unnamed: 0', 'Director', 'Oscar_Winner_ID', 'Winner_x', 'Award', 'Year_Film', 'Year_Ceremony_x', 'Golden_Globe_Winner_ID', 'Winner_y', 'Year_Ceremony_y','Golden_Globe_Award']
complete_movies_df = complete_data_df.drop(columns=columns_to_drop)

# Convert columns to integers
columns_to_convert = ['Votes', 'Meta_score', 'Year', 'Movie_ID', 'Director_ID']
complete_movies_df[columns_to_convert] = complete_movies_df[columns_to_convert].fillna(0).astype(int)

complete_movies_df.head(10)

,Movie_Name,Rating,Votes,Meta_score,PG_Rating,Year,Duration,Movie_ID,Director_ID,Oscar_Award_ID,GG_Award_ID
0,Leave the World Behind,6.5,90000,67,R,2023,2h 18m,1,1,NaN,NaN
1,Wonka,7.4,24000,66,PG,2023,1h 56m,2,2,NaN,NaN
2,Paddington 2,7.8,90000,88,PG,2017,1h 43m,665,2,NaN,NaN
3,Paddington,7.3,129000,77,PG,2014,1h 35m,717,2,NaN,NaN
4,Poor Things,8.5,6700,86,R,2023,2h 21m,3,3,NaN,NaN
5,The Favourite,7.5,216000,91,R,2018,1h 59m,144,3,OWA0081,GG005
6,The Killing of a Sacred Deer,7.0,174000,73,R,2017,2h 1m,181,3,NaN,NaN
7,The Lobster,7.1,281000,82,R,2015,1h 59m,281,3,NaN,NaN
8,Killers of the Flower Moon,7.8,128000,89,R,2023,3h 26m,4,4,NaN,NaN
9,The Wolf of Wall Street,8.2,1500000,75,R,2013,3h,77,4,NaN,GG006

In [15]:
# Drop duplicate rows
movies_df = complete_movies_df.drop_duplicates(subset=['Movie_Name', 'Oscar_Award_ID', 'GG_Award_ID'])

movies_df.head(10)

,Movie_Name,Rating,Votes,Meta_score,PG_Rating,Year,Duration,Movie_ID,Director_ID,Oscar_Award_ID,GG_Award_ID
0,Leave the World Behind,6.5,90000,67,R,2023,2h 18m,1,1,NaN,NaN
1,Wonka,7.4,24000,66,PG,2023,1h 56m,2,2,NaN,NaN
2,Paddington 2,7.8,90000,88,PG,2017,1h 43m,665,2,NaN,NaN
3,Paddington,7.3,129000,77,PG,2014,1h 35m,717,2,NaN,NaN
4,Poor Things,8.5,6700,86,R,2023,2h 21m,3,3,NaN,NaN
5,The Favourite,7.5,216000,91,R,2018,1h 59m,144,3,OWA0081,GG005
6,The Killing of a Sacred Deer,7.0,174000,73,R,2017,2h 1m,181,3,NaN,NaN
7,The Lobster,7.1,281000,82,R,2015,1h 59m,281,3,NaN,NaN
8,Killers of the Flower Moon,7.8,128000,89,R,2023,3h 26m,4,4,NaN,NaN
9,The Wolf of Wall Street,8.2,1500000,75,R,2013,3h,77,4,NaN,GG006

In [16]:
unique_movies = movies_df['Movie_Name'].unique()
print(unique_movies)
print(len(unique_movies))

['Leave the World Behind' 'Wonka' 'Paddington 2' ... 'The Last Chance'
 'A Medal For Benny' 'The House I Live In']
3092

In [18]:
# Export list of Oscar Winners as CSV files.
movies_df.to_csv("CleanData/Movies.csv", index=False)