In [6]:
import pandas as pd

In [13]:
# Files to use
movies_data = pd.read_csv('CleanData/Movies.csv', encoding='utf-8')
oscar_winners = pd.read_csv('CleanData/oscar_winners.csv', encoding='utf-8')
goldenglobe_winners = pd.read_csv('CleanData/goldenglobe_winners.csv', encoding='utf-8')

# Combine the data into a single DataFrame
combine_data_df = pd.merge(movies_data, oscar_winners, how="left", on=["Movie Name", "Movie Name"])
complete_data_df = pd.merge(combine_data_df, goldenglobe_winners, how="left", on=["Movie Name"])
complete_data_df

,Unnamed: 0,Movie Name,Rating,Votes,Meta Score,PG Rating,Year_x,Duration,Director,Movie ID,Director ID,Year Film,Year Ceremony,Award,Name of Winner,Oscar Award ID,Year_y,Status,Golden Globe Award,GG Award ID
0,0,Leave the World Behind,6.5,90000.0,67.0,R,2023,2h 18m,Sam Esmail,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Wonka,7.4,24000.0,66.0,PG,2023,1h 56m,Paul King,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Paddington 2,7.8,90000.0,88.0,PG,2017,1h 43m,Paul King,665,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Paddington,7.3,129000.0,77.0,PG,2014,1h 35m,Paul King,717,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Poor Things,8.5,6700.0,86.0,R,2023,2h 21m,Yorgos Lanthimos,3,3,2023.0,2024.0,ACTRESS IN A LEADING ROLE,Emma Stone,OWA0081,2024.0,Winner,Best Motion Picture - Musical or Comedy,GG006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1962,1614,The Man in the Iron Mask,6.5,176000.0,48.0,PG-13,1998,2h 12m,Randall Wallace,1743,976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963,1615,We Were Soldiers,7.2,149000.0,65.0,R,2002,2h 18m,Randall Wallace,1744,976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964,1616,Dragged Across Concrete,6.9,54000.0,60.0,R,2018,2h 39m,S. Craig Zahler,1746,977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1965,1617,Annette,6.3,22000.0,67.0,R,2021,2h 21m,Leos Carax,1749,978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1966,1618,"Definitely, Maybe",7.1,172000.0,59.0,PG-13,2008,1h 52m,Adam Brooks,1750,979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Columns name info
complete_data_df.columns

Index(['Unnamed: 0', 'Movie Name', 'Rating', 'Votes', 'Meta Score',
       'PG Rating', 'Year_x', 'Duration', 'Director', 'Movie ID',
       'Director ID', 'Year Film', 'Year Ceremony', 'Award', 'Name of Winner',
       'Oscar Award ID', 'Year_y', 'Status', 'Golden Globe Award',
       'GG Award ID'],
      dtype='object')

In [30]:
# Drop unwanted columns 
columns_to_drop = ['Unnamed: 0', 'Director', 'Year Film', 'Year Ceremony', 'Award','Name of Winner', 'Year_y', 'Status', 'Golden Globe Award',]
complete_movies_df = complete_data_df.drop(columns=columns_to_drop)

# Rename column Year_x
complete_movies_df.rename(columns={'Year_x': 'Year'}, inplace=True)

complete_movies_df.head(10)

,Movie Name,Rating,Votes,Meta Score,PG Rating,Year,Duration,Movie ID,Director ID,Oscar Award ID,GG Award ID
0,Leave the World Behind,6.5,90000.0,67.0,R,2023,2h 18m,1,1,NaN,NaN
1,Wonka,7.4,24000.0,66.0,PG,2023,1h 56m,2,2,NaN,NaN
2,Paddington 2,7.8,90000.0,88.0,PG,2017,1h 43m,665,2,NaN,NaN
3,Paddington,7.3,129000.0,77.0,PG,2014,1h 35m,717,2,NaN,NaN
4,Poor Things,8.5,6700.0,86.0,R,2023,2h 21m,3,3,OWA0081,GG006
5,Poor Things,8.5,6700.0,86.0,R,2023,2h 21m,3,3,OWA0053,GG006
6,Poor Things,8.5,6700.0,86.0,R,2023,2h 21m,3,3,OWA0101,GG006
7,Poor Things,8.5,6700.0,86.0,R,2023,2h 21m,3,3,OWA0102,GG006
8,The Favourite,7.5,216000.0,91.0,R,2018,1h 59m,144,3,OWA0081,NaN
9,The Killing of a Sacred Deer,7.0,174000.0,73.0,R,2017,2h 1m,181,3,NaN,NaN

In [31]:
# Replace NaN values with "N/A"
movies_df = complete_movies_df.fillna("N/A")
movies_df.head(25)

,Movie Name,Rating,Votes,Meta Score,PG Rating,Year,Duration,Movie ID,Director ID,Oscar Award ID,GG Award ID
0,Leave the World Behind,6.5,90000.0,67.0,R,2023,2h 18m,1,1,N/A,N/A
1,Wonka,7.4,24000.0,66.0,PG,2023,1h 56m,2,2,N/A,N/A
2,Paddington 2,7.8,90000.0,88.0,PG,2017,1h 43m,665,2,N/A,N/A
3,Paddington,7.3,129000.0,77.0,PG,2014,1h 35m,717,2,N/A,N/A
4,Poor Things,8.5,6700.0,86.0,R,2023,2h 21m,3,3,OWA0081,GG006
5,Poor Things,8.5,6700.0,86.0,R,2023,2h 21m,3,3,OWA0053,GG006
6,Poor Things,8.5,6700.0,86.0,R,2023,2h 21m,3,3,OWA0101,GG006
7,Poor Things,8.5,6700.0,86.0,R,2023,2h 21m,3,3,OWA0102,GG006
8,The Favourite,7.5,216000.0,91.0,R,2018,1h 59m,144,3,OWA0081,N/A
9,The Killing of a Sacred Deer,7.0,174000.0,73.0,R,2017,2h 1m,181,3,N/A,N/A
10,The Lobster,7.1,281000.0,82.0,R,2015,1h 59m,281,3,N/A,N/A
11,Killers of the Flower Moon,7.8,128000.0,89.0,R,2023,3h 26m,4,4,N/A,N/A
12,The Wolf of Wall Street,8.2,1500000.0,75.0,R,2013,3h,77,4,N/A,N/A
13,Goodfellas,8.7,1200000.0,92.0,R,1990,2h 25m,146,4,N/A,N/A
14,The Departed,8.5,1400000.0,85.0,R,2006,2h 31m,192,4,OWA0012,N/A
15,The Departed,8.5,1400000.0,85.0,R,2006,2h 31m,192,4,OWA0020,N/A
16,The Departed,8.5,1400000.0,85.0,R,2006,2h 31m,192,4,OWA0060,N/A
17,The Departed,8.5,1400000.0,85.0,R,2006,2h 31m,192,4,OWA0099,N/A
18,Shutter Island,8.2,1400000.0,63.0,R,2010,2h 18m,257,4,N/A,N/A
19,Taxi Driver,8.2,899000.0,94.0,R,1976,1h 54m,302,4,N/A,N/A
20,The Irishman,7.8,421000.0,94.0,R,2019,3h 29m,307,4,N/A,N/A
21,Casino,8.2,553000.0,73.0,R,1995,2h 58m,600,4,N/A,N/A
22,Gangs of New York,7.5,466000.0,72.0,R,2002,2h 47m,725,4,N/A,N/A
23,Cape Fear,7.3,212000.0,73.0,R,1991,2h 8m,1102,4,N/A,N/A
24,Silence,7.2,121000.0,79.0,R,2016,2h 41m,1162,4,N/A,N/A

In [32]:
# Export list of Oscar Winners as CSV files.
movies_df.to_csv("CleanData/MoviesWithAwards.csv", index=False)